.reviews-slider-item{
    background-color: $blueLight;
    padding: 34px 18px 65px;
    box-sizing: border-box;
    border-radius: 13px;
    min-height: 350px;
    height: auto !important;
    @media screen and (max-width: $tabletSmall) {
        padding: 34px 13px 65px;
    }
    @media screen and (max-width: $mobile) {
        padding: 34px 18px 65px;
    }
    &:after{
        content: '';
        position: absolute;
        right: 23px;
        bottom: 23px;
        width: 62px;
        height: 42px;
        background-image: url(assets/img/icon/quotes.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    // .reviews-slider-item__mark
    &__mark{
        display: flex;
        margin-bottom: 2rem;
        li{
            margin-right: .4rem;
            &:last-of-type{
                margin-right: 0;
            }
        }
    }
    // .reviews-slider-item__info
    &__info{
        display: flex;
        align-items: center;
        margin-bottom: 2.4rem;
    }
    // .reviews-slider-item__img
    &__img{
        width: 72px;
        height: 72px;
        border-radius: 50%;
        img{
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    // .reviews-slider-item__text
    &__text{
        margin-left: 20px;
        @media screen and (max-width: $tabletSmall) {
            margin-left: 10px;
        }
        @media screen and (max-width: $mobile) {
            margin-left: 20px;
        }
        h3 {
            font-size: 2.4rem;
            line-height: 4.4rem;
            font-family: $primary-font;
            font-weight: 700;
              @media screen and (max-width: $mobile) {
                  font-size: 2rem;
              }
        }
        i{
            font-style: italic;
            font-size: 1.4rem;
            font-weight: 700;
            color: $white;

        }
    }
}
