.modal-content-window{
    position: relative;
    // .modal-content-window__close
    &__close{
        position: absolute;
        right: 15px;
        top:15px;
        z-index: 1;
    }
}
