.team-slider {
    h2 {
        color: $pinkDark;
        text-align: center;
        margin-bottom: 6rem;
        @media screen and (max-width: $mobile) {
            margin-bottom: 5.2rem;
        }
    }

    // .team-slider__container
    &__container {
        overflow: visible !important;
    }

    // .team-slider__arrows
    &__arrows {
        margin: 40px 0 0 12.5%;
        max-width: 123px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: $mobile) {
            margin: 38px 0 0 16px;
        }
    }

    // .team-slider__arrow
    &__arrow {
        height: 55px;
        width: 55px;
        border: 1px solid $white;
        border-radius: 50%;
        padding: 13px;

        &.disable {
            display: none;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    // .team-slider__arrow-next
    &__arrow-next {
        transform: rotate(180deg);
    }
}
