.team-slider-item{
    background-color: $pinkDark;
    border-radius: 20px;
    padding: 30px 44px 0 44px;
    width: 25%;
    box-sizing: border-box;
    height: auto !important;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 5;
    position: relative;
    @media screen and (max-width: 1920px) {
        max-height: 634px;
    }
    @media screen and (max-width: $tabletLarge) {
        padding: 25px 22px 0 22px;
    }
    @media screen and (max-width: $tablet) {
        max-width: 460px;
        width: 100%;
    }
    @media screen and (max-width: $mobile) {
        max-width: 344px;
        justify-content: flex-start;
        min-height: 474px;
        max-height: 0;
    }
    h3{
        @include adaptiveProperty('font-size', 28, 24);
        @include adaptiveProperty('line-height', 33, 28);
        margin-bottom: 1.2rem;
        font-style: italic;
        font-family: $primary-font;
        font-weight: 600;
    }
    h4{
        font-size: 1.8rem;
        line-height: 2.1rem;
        font-style: italic;
        font-family: $primary-font;
        margin-bottom: 1.6rem;
    }
    // .team-slider-item__img
    &__img {
        flex-grow: 1;
        width: 100%;
        height: 85%;
        @media screen and (max-width: $mobile) {
            position: absolute;
            bottom: 0;
            height: 80%;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: bottom;
        }
    }
}
