.collection-section{
    padding: 7% 0;
    background-color: #8DB833;
    @media screen and (max-width: $tablet) {
        padding: 56px 0;
    }
    // .collection-section__text-img-item
    &__text-img-item{
        margin-bottom: 9%;
        @media screen and (max-width: $tablet) {
            margin-bottom: 72px;
        }
    }
    // .collection-section__slider
    &__slider{
        margin-bottom: 10%;
        @media screen and (max-width: $tablet) {
            margin-bottom: 56px;
        }
    }
    // .collection-section__slider-head
    &__slider-head{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 925px;
        width: 100%;
        margin: 0 auto 36px auto;
        h2{
            padding-bottom: 11px;
        }
        p{
            text-align: center;
        }
    }
    // .collection-section__description
    &__description{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 860px;
        width: 100%;
        margin: 0 auto;
        h2{
            margin-bottom: 18px;

        }
        p{
            text-align: center;
            margin-bottom: 36px;
            @media screen and (max-width: $mobile) {
                margin-bottom: 24px;
            }
        }
        .btn{
            @media screen and (max-width: $mobile) {
                width: 100%;
            }
        }
    }
}
