.course-section{
    background-color: $blue;
    padding: 7% 0;
    overflow: hidden;
    @media screen and (max-width: $tablet) {
        padding: 56px 0;
    }
    // .course-section__text-video-item
    &__text-video-item{
        margin-bottom: 20%;
        @media screen and (max-width: $tablet) {
            margin-bottom: 56px;
        }
    }
    // .course-section__head-bg
    &__head-bg{
        margin-bottom: 69px;

    }
    // .course-section__locations-items
    &__locations-items{
        max-width: 842px;
        width: 100%;
        margin: 42px auto 0 auto;
    }
    .btn{
        margin: 0 auto;
        @media screen and (max-width: $mobile) {
            margin-top: 30px;
        }
        &.course-section__load-more{
            margin-top: 50px;
        }
    }
    // .course-section__single-input-form
    &__single-input-form{
        max-width: 532px;
        width: 100%;
        margin: 0 auto;

    }

}
