.faq-section{
    padding: 7% 0;
    background-color: $blue;
    @media screen and (max-width: $tablet){
        padding: 56px 0;
    }
    // .faq-section__head
    &__head{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 7%;
        @media screen and (max-width: $tablet){
            margin-bottom: 42px;
        }
        h2{
            text-align: center;
            max-width: 700px;
            width: 100%;
            margin-bottom: 24px;
        }
        p{
            text-align: center;
            max-width: 822px;
            width: 100%;
        }
    }
    // .faq-section__description
    &__description {
        max-width: 600px;
        width: 100%;
        margin: 68px auto 0 auto;
        h3{
            @include adaptiveProperty('font-size', 48, 38);
            @include adaptiveProperty('line-height', 52, 41);
            text-align: center;
            margin-bottom: 20px;
        }
        p{
            text-align: center;
            a {
                color: $white;
                border-bottom: 1px solid $white;
            }
        }
    }
    // .faq-section__accordion
    &__accordion{
        max-width: 90%;
        margin: 0 auto;
    }
}
