.form-section{
    padding: 7% 0;
    background-color: $blue;
    z-index: 5;
    position: relative;
    @media screen and (max-width: $tablet) {
        padding: 91px 0;
    }
    // .form-section__head-bg
    &__head-bg{
        margin-bottom: 8%;
        @media screen and (max-width: $tabletSmall) {
            margin-bottom: 45px;

        }
    }
    // .form-section__head-bg-small
    &__head-bg-small{
        margin-bottom: 50px;
        @media screen and (max-width: $mobile) {
            margin-bottom: 30px;
        }
    }

    // .form-section__wrapper
    &__wrapper{
        p{
            max-width: 686px;
            width: 100%;
            margin: 0 auto 54px auto;
            text-align: center;
        }
    }
    // .form-section__description
    &__description{
        max-width: 450px;
        width: 100%;
        margin: 7% auto 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        h3{
            text-align: center;
            font-size: 3.8rem;
            line-height: 4.1rem;
            margin-bottom: 70px;
            @media screen and (max-width: $tablet) {
                margin-bottom: 56px;
            }
        }
    }
}
