.header{
    background-color: $black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100;
    @media screen and (max-width: $tablet){
        padding: 15px 0 5px 0;
    }
    // .header__wrapper
    &__wrapper {
        display: flex;
        align-items: center;
        @media screen and (max-width: $tablet) {
            display: grid;
            grid-template-columns: 30px 1fr 30px;
            align-items: center;
        }
    }
    // .header__logo
    &__logo{
        display: block;
        max-width: 130px;
        width: 100%;
        margin-right: 30px;
        @media screen and (max-width: $tabletLarge){
            max-width: 100px;
            margin-right: 20px;
        }
        @media screen and (max-width: $tablet){
            margin: 0 auto;
        }
        @media screen and (max-width: $tabletSmall){
           max-width: 89px;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    // .header__inner
    &__inner{
        display: flex;
        width: 100%;
        transition: all .5s ease;
        @media screen and (max-width: $tabletLarge) {
            top:$headerHeightTabletLarge;
        }
        @media screen and (max-width: $tablet){
            position: fixed;
            top: $headerHeightTablet;
            background-color: #2E2E2E;
            left: 0;
            width: 70vw;
            flex-direction: column;
            transform: translateX(-101%);
            padding: 50px 30px;
            height: calc(100vh - #{$headerHeightTablet});
            box-sizing: border-box;
            overflow-y: auto;
        }
        @media screen and (max-width: $tabletSmall){
            top: $headerMobHeight;
            padding: 50px 20px;
        }
        @media screen and (max-width: $mobile){
            height: calc(100vh - #{$headerMobHeight});
            width: 100vw;
        }
        .btn{
            margin-left: 24px;
            @media screen and (max-width: $tabletLarge){
                padding: 14px 20px;
                margin-left: 15px;
            }
            @media screen and (max-width: $tablet){
                max-width: 356px;
                margin: 29px 0 0 0;
                width: 100%;
            }
            @media screen and (max-width: $mobile){
                max-width: none;
            }
        }
    }
    // .header__pages-links
    &__pages-links{
        margin-left: 35px;
        @media screen and (max-width: $tabletLarge){
            max-width: 220px;
            margin-left: 15px;
        }
        @media screen and (max-width: $tablet){
            max-width: 356px;
            margin: 54px 0 0 0;
        }
        @media screen and (max-width: $mobile){
            max-width: none;
        }
    }
    // .header__btn
    &__btn{
        display: none;
        width: 30px;
        height: 25px;
        position: relative;
        z-index: 15;
        @media screen and (max-width: $tablet){
            display: block;
        }

        &:after{
            display: block;
            content: '';
            width: 100%;
            height: 2px;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $white;
            transition: all .5s ease;
            border-radius: 1px;
        }
        &:before{
            display: block;
            content: '';
            width: 100%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $white;
             transition: all .5s ease;
            border-radius: 1px;
        }
        span{
            position: absolute;
            height: 2px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            background-color: $white;
             transition: all .5s ease;
            border-radius: 1px;
        }
    }
    // .header__fader
    &__fader{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(#000, .5);
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        transition: all .5s ease;
    }
    // .header--open-menu
    &--open-menu{
        .header__inner{
            transform: translateX(0);
            transition: all .5s ease;
        }
        .header__fader{
            opacity: 1;
            visibility: visible;
            transition: all .5s ease;
        }
        .header__btn{
            &:after{
                top: 12px;
                transform:rotate(45deg);
                 transition: all .5s ease;
            }
            &:before{
                top: 12px;
                transform:rotate(-45deg);
                 transition: all .5s ease;
            }
            span{
                background-color: transparent;
                 transition: all .5s ease;
            }
        }
    }
}
