.hero-section{
    position: relative;
    // .hero-section__bg
    &__bg{
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    // .hero-section__pages-links
    &__pages-links{
        a{
            border: none;
        }
    }
    // .hero-section__content
    &__content{
        padding: 8% 0 31px 0;
        box-sizing: border-box;
        min-height: 36vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (max-width: $tabletLarge){
            min-height: 630px;
            padding-top: 50px;
            justify-content: center;
        }
        @media screen and (max-width: $tabletSmall){
            min-height: 530px;
            justify-content: flex-start;
        }
        h1{

            text-align: center;
        }
    }
    // .hero-section__countdown
    &__countdown{
        margin-top: 64px;
    }
    // .hero-section__scroll-down
    &__scroll-down{
        margin:48px 0 24px 0;
    }
    // .hero-section--content-center
    &--content-center{
        .hero-section__content{
            padding-top: 0;
            justify-content: center;
        }
    }
    // .hero-section--small
    &--small {
        .hero-section__content{
            min-height: 468px;
        }
    }
    // .hero-section--mob-space-between
    &--mob-space-between{
        .hero-section__content{
            padding-top: 80px;
            justify-content: space-between;
        }
    }
}
