.location-section {
    padding: 7% 0;
    background-color: $blue;
    @media screen and (max-width: $tablet) {
        padding: 56px 0;
    }
    // .location-section__head
    &__head {
        max-width: 811px;
        width: 100%;
        margin: 0 auto 10% auto;
        @media screen and (max-width: $tabletSmall) {
            margin-bottom: 56px;
        }
        h2 {
            text-align: center;
            margin-bottom: 20px;
            @media screen and (max-width: $mobile) {
                text-align: left;
            }
        }

        p {
            text-align: center;
            margin-bottom: 8px;
            @media screen and (max-width: $mobile) {
                text-align: left;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    // .location-section__slider-wr
    &__slider-wr {
        margin-bottom: 10%;
        @media screen and (max-width: $tabletSmall) {
            margin-bottom: 56px;
        }
        h2{
            text-align: center;
            margin-bottom: 20px;
            @media screen and (max-width: $mobile) {
                text-align: left;
            }
        }
    }

    // .location-section__map-wr
    &__map-wr {
        margin-bottom: 10%;
        @media screen and (max-width: $tabletSmall) {
            margin-bottom: 56px;
        }
        h2 {
            margin-bottom: 30px;
            text-align: center;
            @media screen and (max-width: $mobile) {
                text-align: left;
            }
        }

        iframe {
            min-height: 46vw;
            width: 100%;
            @media screen and (max-width: $tabletSmall) {
                min-height: 516px;
            }
        }
    }

    // .location-section__map-form
    &__map-form {
        background-color: $blueLight;
        padding: 15px 43px;
        display: flex;
        align-items: center;
        @media screen and (max-width: $tabletSmall) {
            padding: 15px 7px;
            flex-direction: column;
            align-items: flex-start;
        }

        p {
            margin-right: 52px;
            font-weight: 700;
            line-height: 1.9rem;
            @media screen and (max-width: $tabletSmall) {
                margin:0 0 11px 0;
            }
        }
    }

    // .location-section__search-input
    &__search-input {
        max-width: 365px;
        width: 100%;
    }


    // .location-section__form-wr
    &__form-wr {
        max-width: 771px;
        width: 100%;
        margin: 0 auto;
        h2 {
            text-align: center;
            margin-bottom: 20px;
            @media screen and (max-width: $tabletSmall) {
                margin-bottom: 11px;
            }
        }

        p {
            text-align: center;
            margin-bottom: 51px;
            @media screen and (max-width: $tabletSmall) {
                margin-bottom: 30px;
            }
        }
    }
}
