.single-post{
    background-color: #79498B;
    padding: 6% 0 7% 0;
    // .single-post__info
    &__info{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 28px;
        @media screen and (max-width: 425px){
            flex-direction: column;
        }
        .icon-text-info{
            margin-bottom: 0;
            &:first-of-type{
                @media screen and (max-width: $tabletLarge){
                    margin-right: 1.6rem;
                }
                @media screen and (max-width: 425px){
                    margin: 0 0 1.6rem 0;
                }
            }
        }
    }
    // .single-post__wrapper
    &__wrapper{
        gap: 52px;
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 408px;
        @media screen and (max-width: $desktop){
            grid-template-columns: 60% 40%;
        }
        @media screen and (max-width: $tabletLarge){
            grid-template-columns: 100%;
        }
    }
    // .single-post__icon-text-info
    &__icon-text-info{
        @media screen and (max-width: $mobile){
            margin:0 15px 0 0;
        }
        @media screen and (max-width: 425px){
            margin-bottom: 5px;
        }
    }

}
