.text-video-items{
    background-color: #8DB833;
    @media screen and (max-width: $tablet) {
        padding: 56px 0;
    }
    // .text-video-items__container
    &__container{
        min-height: 815px;
        box-sizing: border-box;
        padding-top: 7%;
        padding-bottom: 7%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media screen and (max-width: $tablet) {
            padding-top: 0;
            padding-bottom: 0;
            min-height: 0;
        }
    }

}
