.text-img-items {
    background-color: $blue;
    padding: 7% 0;
    position: relative;
    z-index: 5;
    @media screen and (max-width: $tablet) {
        padding: 56px 0;
    }
    // .text-img-items__head
    &__head {
        margin-bottom: 16px;
        @media screen and (max-width: $tablet) {
            margin-bottom: 56px;
        }

        h2 {
            text-align: center;
        }
    }

    // .text-img-items__description
    &__description {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 970px;
        width: 100%;
        margin: 7.5% auto 0 auto;

        h3, .h3 {
            text-align: center;
            max-width: 450px;
            width: 100%;
            margin-bottom: 34px;
            @media screen and (max-width: $tabletSmall) {
                margin-bottom: 56px;
            }
        }

        .btn {
            margin-bottom: 23px;
            @media screen and (max-width: $mobile) {
                width: 100%;
            }
        }

        p {
            text-align: center;
            @media screen and (max-width: $mobile) {
                display: none;
            }
        }
    }

    // .text-img-item__form-wr
    &__form-wr {
        h3 {
            font-size: 3.8rem;
            margin: 0 auto 56px auto;
            text-align: center;
            max-width: 601px;
            width: 100%;
            @media screen and (max-width: $tablet) {
                margin-bottom: 37px;
            }
        }
    }

    // .text-img-items__video-imgs-items
    &__video-imgs-items {
        margin: 9% 0;
        @media screen and (max-width: $tablet) {
            margin: 56px 0;
        }
    }

    // .text-img-items__form-wr
    &__form-wr {
        margin-top: 7%;
        @media screen and (max-width: $tablet) {
            margin-top: 56px;
        }
    }

    // .text-img-items__single-input-form
    &__single-input-form {

        h2 {
            @include adaptiveProperty('font-size', 38, 28);
            text-align: center;
            margin-bottom: 30px;
            @media screen and (max-width: $tabletSmall) {
                margin-bottom: 20px;
            }
        }

        form {
            max-width: 532px;
            width: 100%;
            margin: 0 auto;
        }
    }

    // .text-img-items__slider-inner
    &__slider-inner {
        h2 {
            text-align: center;
            margin-bottom: 46px;
            @media screen and (max-width: $tabletSmall) {
                margin-bottom: 30px;
            }
        }
    }

    // .text-img-items__description-bg
    &__description-bg {
        position: relative;
        margin-top: 9%;
        z-index: 4;

        h3 {
            margin-bottom: 38px;
            text-align: center;
        }

        img {
            z-index: -1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 250%;

            @media screen and (max-width: $desktop) {
                height: 200%;
            }
            @media screen and (max-width: $tablet) {
                height: 180%;
            }
            @media screen and (max-width: $tabletSmall) {
                height: 250%;
                left: -30%;
                top: 0;
                transform: translateX(0) translateY(-50%);
            }
        }

        .btn {
            margin: 0 auto;
            @media screen and (max-width: $mobile) {
                width: 100%;
            }
        }
    }

    // .text-img-items--green
    &--green {
        background-color: #77b918;
        @media screen and (max-width: $tablet) {
            padding: 50px 0;
        }

        .text-img-item {
            @media screen and (max-width: $tablet) {
                margin-bottom: 80px;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }

    // .text-img-items--green-brush
    &--green-brush {
        position: relative;
        padding: 7% 0;
        @media screen and (max-width: $tablet) {
            padding: 80px 0 107px 0;
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 100%;
            background-image: url(assets/img/blot-bg/green.png);
            background-repeat: no-repeat;
            transform: translateY(-22px);
        }
    }

    // .text-img-items--violet
    &--violet {
        background-color: #79498B;
    }

    // .text-img-items--green-head
    &--green-head {
        .text-img-item {
            h2 {
                color: $green;

            }
        }
    }

    // .text-img-items--brush-bg-violet
    &--brush-bg-violet {
        &:after {
            content: '';
            max-width: 1550px;
            width: 100%;
            height: 332px;
            background-image: url(assets/img/content-img/brush-violet-bg.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            @media screen and (max-width: $tabletSmall) {
                width: 1550px;
                left: -100px;
                transform: translateX(0) translateY(-50%);
            }
        }
    }
}
