.text-content-section{
    padding: 7% 0;
    background-color: $blue;
    @media screen and (max-width: $tablet) {
        padding: 56px 0;
    }
    // .text-content-section__inner
    &__inner {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
        h2 {
            margin-bottom: 40px;
        }

        h3 {
            margin: 30px 0;
        }

        h4, h5, h6 {
            margin: 20px 0;
        }

        h5 {
            font-size: 2.3rem;
            line-height: 2.8;
            color: $white;
        }

        h5 {
            font-size: 2rem;
            line-height: 2.5;
            color: $white;
        }

        b, i {
            @extend .p;
        }

        b, p, i, small {
            display: block;
            margin: 20px 0;
        }

        b {
            font-weight: 700;
        }

        i {
            font-style: italic;
        }

        small {
            font-size: 1.4rem;
            line-height: 2.1rem;
            color: $white;
        }
    }
}
