.three-col-items{
    padding: 7% 0;
    background-color: $blue;
    @media screen and (max-width: $tablet){
        padding: 56px 0 80px 0;
    }
    h2{
        margin-bottom: 50px;
        text-align: center;
    }

    // .three-col-items__inner
    &__inner{
        margin-bottom: 7%;
        @media screen and (max-width: $tablet){
            margin-bottom: 77px;
        }
        p {
            text-align: center;
            margin-top: 35px;
            @media screen and (max-width: $tabletSmall){
                margin-top: 30px;
            }
        }
    }
    // .three-col-items__img
    &__img{
        position: relative;
        max-width: 458px;
        margin: 0 auto;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        .btn{
            position: absolute;
            top: 57%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
}
