.video-imgs-item {
    width: 100%;
    border-radius: 13px;
    position: relative;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    img {
        width: 100%;
        height: 100%;
        border-radius: 13px;
    }
}
