.countdown{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 32px;
    @media screen and (max-width: $mobile) {
        gap: 16px;
        grid-template-columns: repeat(2, 1fr);
    }
}
