.countdown-item {
    position: relative;
    min-height: 158px;
    min-width: 158px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: $white;
    @media screen and (max-width: $tabletSmall) {
        min-height: 112px;
        min-width: 112px;
    }

    // .countdown-item__wrapper
    &__wrapper {
        text-align: center;
        font-weight: 700;
        @include adaptiveProperty('font-size', 18, 14);
        @include adaptiveProperty('line-height', 21, 16);
        text-transform: uppercase;
        @media screen and (max-width: 425px) {
            font-size: 1.3rem;
        }
    }

    // .countdown-item__num

    &__num {
        font-weight: 700;
        display: block;
        width: 100%;
        @include adaptiveProperty('font-size', 54, 24);
        @include adaptiveProperty('line-height', 64, 28);
    }

    // .countdown-item__circle
    &__circle {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}
