.accordion-item {
    border-radius: 4px 4px 0 0;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.05);
    background-color: $blueLight;

    &.active {
        .accordion-item__head {
            border-radius: 0;
            transition: all .3s ease;

            &:after {
                transform: translateY(-50%) rotate(180deg);
                transition: all .3s ease;
            }
        }
    }

    p, ul {
        &:not(:last-child){
            margin-bottom: 1.2rem;
        }
    }

    ul {
        li {
            font-size: 1.4rem;
            line-height: 1.6rem;
            font-weight: 400;
            margin-bottom: 1.2rem;
            padding-left: 18px;
            position: relative;
            color: $white;
            &:after {
                width: 7px;
                height: 7px;
                background-color: $white;
                border-radius: 50%;
                left: 0;
                top: 4px;
                content: '';
                position: absolute;
            }

            &:last-of-type {
                margin-bottom: 0;
            }

        }
    }

    // .accordion-item__head
    &__head {
        border-radius: 4px 4px 0 0;
        cursor: pointer;
        padding: 14px 18px;
        position: relative;
        @media screen and (max-width: $mobile) {
            padding: 14px 18px;
        }

        &:after {
            transition: all .3s ease;
            content: '';
            position: absolute;
            top: 50%;
            right: 18px;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
            background-image: url(assets/img/icon/accordion-arrow.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        span {
            @extend .p;
            font-weight: 700;
            display: block;
            @media screen and (max-width: $mobile) {
                width: 90%;
            }
        }
    }

    // .accordion-item__body
    &__body {
        display: none;
        padding: 10px 18px 20px 18px;
    }
}
