.btn {
    cursor: pointer;
    outline: none;

    width: fit-content;
    font-weight: 700;
    letter-spacing: 1.5px;
    border: 1px solid $white;
    border-radius: 40px;
    box-sizing: border-box;
    min-height: 52px;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: $pink;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: $white;
    white-space: nowrap;
    padding: 14px 30px;
    transition: all .5s ease;
    //background-color: $primary-color;
    &:hover {
        background-color: $pinkDark;
        transition: all .5s ease;
    }

    // .btn--location
    &--location {
        letter-spacing: 1px;
        border: 1px solid transparent;

        img {
            width: 20px;
            height: 20px;
            object-fit: contain;
        }
    }

    // .btn--small
    &--small {
        border-radius: 100px;
        font-size: 1.6rem;
        font-weight: 400;
        min-height: 41px;
        letter-spacing: .5px;
        padding: 10px 15px;
        text-transform: none;
    }

    // .btn--transparent
    &--transparent {
        background-color: transparent;

        &:hover {
            background-color: $pink;
        }
    }

    // .btn--blue
    &--blue {
        background-color: #3B5998;
    }

    // .btn--border-pink
    &--border-pink {
        border: 2px solid $pink;
        border-radius: 100px;
        color: $pink;

        &:hover {
            color: $white;
        }
    }

    // .btn--form
    &--form {
        border: 1px solid transparent;
        padding: 14px 25px;
    }

    // .btn--without-border
    &--without-border {
        border: 1px solid transparent;
    }

    // .btn--animation
    &--animation {
        position: relative;
        transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;

        &:hover:after {
            display: block;
            animation: bottomBubbles ease-in-out 0.75s forwards;
        }

        &:hover:before {
            display: block;
            animation: topBubbles ease-in-out 0.75s forwards;
        }

        &:before, &:after {
            position: absolute;
            content: '';
            display: block;
            width: 140%;
            height: 100%;
            left: -20%;
            z-index: -1000;
            transition: all ease-in-out 0.5s;
            background-repeat: no-repeat;
        }

        &:before {
            display: none;
            top: -75%;
            background-image: radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, transparent 20%, $button-bg 20%, transparent 30%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, transparent 10%, $button-bg 15%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%);
            background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
            //background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
        }

        &:after {
            display: none;
            bottom: -75%;
            background-image: radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, transparent 10%, $button-bg 15%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%);
            background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
            //background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
        }

        &:hover {
            transform: scale(0.9);
            background-color: darken($button-bg, 5%);
            box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
        }
    }

    // .btn--animationWithoutScale
    &--animationWithoutScale {
        &:hover {
            transform: scale(1);
        }
    }

    @keyframes topBubbles {
        0% {
            background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
        }
        50% {
            background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
        }
        100% {
            background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
            background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
        }
    }

    @keyframes bottomBubbles {
        0% {
            background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
        }
        50% {
            background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
        }
        100% {
            background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
            background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
        }
    }


}
