.field {
    width: 100%;
    label{
        width: 100%;
        font-size: 1.4rem;
        line-height: 1.68rem;
        color: $white;
    }
    select{

    }
    input,
    textarea,
    select{
        min-height: 37px;
        display: block;
        margin-top: 7px;
        box-sizing: border-box;
        width: 100%;
        background-color: $fieldInputBg;
        border: 1px solid  #E4E4E4;
        border-radius: 13px;
        padding: 8px 15px;
        outline: none;
        resize: none;
        color: $white;
        font-size: 1.4rem;
        line-height: 1.6rem;
        &::placeholder{
            font-size: 1.4rem;
            line-height: 1.6rem;
            color: $white;

        }
    }
    select{
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url(assets/img/icon/select-arrow.svg);
        background-repeat: no-repeat;
        background-position: right 5px top 5px;
    }
    input {


    }

    textarea {
        height: 200px;
        overflow-y: auto;
        @media screen and (max-width: $tabletSmall) {
            height: 272px;
        }
    }
    // .field--error
    &--error{
        input {

            border: 1px solid #DB2A30;
        }
    }
}
