.reviews-slider{
    // .reviews-slider__pagination
    &__pagination{
        display: flex;
        justify-content: center;
        margin-top: 74px;
        &.disable{
            display: none;
        }
        @media screen and (max-width: $tabletSmall) {
            margin-top: 30px;
        }
    }
}
