.event-slider {
    position: relative;

    .slider-arrow--next,
    .slider-arrow--prev{
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        @media screen and (max-width: $tablet) {
            display: none;
        }
    }

    .slider-arrow--next {
        right: -85px;
        @media screen and (max-width: 1680px) {
            right: 0;
        }
    }

    .slider-arrow--prev {
        left: -85px;
        @media screen and (max-width: 1680px) {
            left: 0;
        }
    }

    // .event-slider__pagination
    &__pagination {
        margin-top: 40px;
        position: static;
        display: flex;
        justify-content: center;

        &.disable {
            display: none;
        }

        @media screen and (max-width: $mobile) {
            display: none;
        }
    }

    // .event-slider__wrapper
    &__wrapper {
        box-sizing: border-box;

    }

    // .event-slider__container
    &__container {
        width: auto;
        overflow: visible !important;
        @media screen and (min-width: $tabletP1) {
            width: 90%;
            padding: 35px 20px !important;
            overflow: hidden !important;
        }
        @media screen and (min-width: $deskLargeP1) {
            width: calc(100% - 35px * 2);
        }
    }

    // .event-slider--green
    &--green {
        .event-slider__container {
            box-sizing: border-box;
        }

        .event-slider-item {
            background: #74a60c;
            border: 1px solid #8abf1b;
            box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.12);

            h3 {
                color: $white;
                margin-bottom: 52px;
            }
        }
    }

}
