.head-bg {

    h2 {
        z-index: 5;
        position: relative;
        align-self: flex-start;
        max-width: 830px;
        width: 100%;

        &:after {
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            top: 0;
            left: 0;
            z-index: -1;
        }

    }

    // .head-bg--violet
    &--violet {
        padding: 0;
        height: auto;
        min-height: 0;
        z-index: 5;

        h2 {
            height: auto;
            width: 100%;
            max-width: none;

            &:after {
                background-image: url(assets/img/content-img/head-bg-violet.png);
                width: 995px;
                height: 172px;
                left: -100px;
                top: -25px;

                @media screen and (max-width: $mobile) {
                    width: 730px;
                    height: 125px;
                    top: -12px;
                    left: -76px;
                }
            }
        }
    }

    // .head-bg--green
    &--green {
        h2 {
            text-align: center;
            margin: 0 auto;

            &:after {
                background-image: url(assets/img/content-img/head-bg.svg);
                width: 1300px;
                left: 50%;
                top: -25px;
                transform: translateX(-50%);
                height: 175px;
                @media screen and (max-width: $mobile) {
                    width: 1100px;
                }
            }
        }
    }
    // .head-bg--blue-gradient
    &--blue-gradient {
        padding: 0;
        height: auto;
        min-height: 0;


        h2 {
            height: auto;
            width: 100%;
            max-width: none;
            margin-bottom: 4rem;
            position: relative;
            z-index: -1;
            &:after {
                background-image: url(assets/img/brush/brush-blue-gredient.png);
                width: 995px;
                height: 172px;
                left: -100px;
                top: -25px;
                z-index: -1;
                @media screen and (max-width: $mobile) {
                    width: 730px;
                    height: 125px;
                    top: -12px;
                    left: -76px;
                }
            }
        }
    }
    // .head-bg--blue
    &--blue {
        h2 {
            position: relative;
            @media screen and (max-width: $mobile) {
                margin-bottom: 2.4rem;
            }
            &:after {
                width: 850px;
                height: 116px;
                background-image: url(assets/img/content-img/brush-bg-blue.png);
                background-repeat: no-repeat;
                background-position: center;
                content: '';
                position: absolute;
                left: -81px;
                top: -40px;
                z-index: -1;
                @media screen and (max-width: $tabletSmall) {
                    top: -50px;
                }
                @media screen and (max-width: $mobile) {
                    top: -60px;
                    width: 772px;
                    height: 104px;
                }
            }
        }
    }
    // .head-bg--green-large
    &--green-large {
        z-index: 5;
        h2 {
            text-align: center;

            &:after {
                content: '';
                background-image: url(assets/img/content-img/brush-green-bg.png);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                width: 1300px;
                height: 208px;
                position: absolute;
                top: 50%;
                left: 55%;
                transform: translate(-50%, -50%);

                @media screen and (max-width: $tablet) {
                    height: 175px;
                }
                @media screen and (max-width: $mobile) {
                   transform: translateX(0) translateY(-50%);
                    left: -250px;
                }
            }
        }
    }
    // .head-bg--violet-small
    &--violet-small{
        h2{
            text-align: center;
            margin:  0 auto;
            &:after{
                width: 1300px;
                height: 175px;
                background-image: url(assets/img/form-section/brush-bg-violet.svg);
                top: 50%;
                left: 55%;
                transform: translate(-50%, -50%);

                @media screen and (max-width: $mobile) {
                    transform: translateX(0) translateY(-50%);
                    left: -150px;
                }
            }
        }
    }
    // .head-bg--center
    &--center{
        h2{
            margin: 0 auto;
        }
    }
}
