.icon-text-info {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: $white;
    letter-spacing: .5px;
    font-style: italic;
    @media screen and (max-width: $tabletLarge) {
        margin-bottom: 1rem;
    }

    &:nth-child(2n+1) {
        margin-right: 2rem;

    }

    img {
        width: 18px;
        height: 18px;
        object-fit: contain;
        margin-right: 7px;
    }

    span {
        margin-left: .4rem;
        display: block;
        text-transform: uppercase;
    }

}
