.logo-item{
    background-color: $white;
    border-radius: 13px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.12);
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 13px;
    }
}
