.mark-img-list {
    // .mark-img-list__item
    &__item {
        margin-bottom: 2.4rem;
        display: grid;
        grid-template-columns: 76px 1fr;
        gap: 18px;

        .h3 {
            margin-bottom: .4rem;
            font-size: 3.8rem;
            line-height: 4.1rem;
        }

    }

    // .mark-img-list__item-img
    &__item-img {
        width: 100%;

        img {
            margin-top: -20%;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .mark-img-list__item--yellow {
        .h3 {
            color: $yellow;
        }
    }

    .mark-img-list__item--green {
        .h3 {
            color: $green;
        }
    }

    .mark-img-list__item--orange {
        .h3 {
            color: $orange;
        }
    }

    .mark-img-list__item--violet {
        .h3 {
            color: rgba(144, 71, 212, 1);
        }
    }
}
