.nav-post {
    display: flex;
    align-items: center;
    padding: 17px 17px 17px 4px;
    box-sizing: border-box;
    border-right: 1px solid #b47fc7;
    @media screen and (max-width: $tablet) {
        border-right: none;
            border-top: 1px solid #b47fc7;
    }
    @media screen and (max-width: $mobile) {
        padding: 22px 14px 22px 4px;
        min-height: 110px;
    }

    &:first-of-type {
        @media screen and (max-width: $tablet) {
            border-top: none;
        }
    }

    &:last-of-type {
        border-right: none;
    }

    // .nav-post__img
    &__img {
        max-width: 175px;
        width: 100%;
        border-radius: 20px;
        @media screen and (max-width: $desktop) {
            max-width: none;
        }
        @media screen and (max-width: $tablet) {
            max-width: 175px;
        }
        @media screen and (max-width: $mobile) {
            max-width: 85px;
        }

        img {
            border-radius: 20px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // .nav-post__wrapper
    &__wrapper {
        width: 100%;
        margin-left: 10px;
        display: grid;
        align-items: flex-start;
        grid-template-columns: 175px 1fr;
        gap: 16px;
        @media screen and (max-width: $desktop) {
            grid-template-columns: 1fr 1fr;
        }
        @media screen and (max-width: $tablet) {
            grid-template-columns: 175px 1fr;
        }
        @media screen and (max-width: $mobile) {
            grid-template-columns: 85px 1fr;
        }

        h3 {
            margin: .8rem 0 0 0;

            word-break: break-word;
            font-size: 1.8rem;

            @media (min-width: $tabletLargeP1) and (max-width: $deskLargeP1) {
                font-size: 1.4rem;
            }
        }
    }

    // .nav-post__arrow
    &__arrow {
        img {
            width: 24px;
            height: 24px;
            object-fit: contain;
        }
    }

    // .nav-post--next
    &--next {
        padding: 17px 4px 17px 17px;
        flex-direction: row-reverse;
        @media screen and (max-width: $mobile) {
            padding: 22px 4px 22px 14px;
        }

        .nav-post__wrapper {
            margin: 0 10px 0 0;

        }

        .nav-post__arrow {
            transform: rotate(180deg);
        }
    }
}
