.one-row-slider-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: $mobile){
    max-width: 25.3rem;
  }
  h3{
    color: $blue;
    text-align: center;
    margin-top: 4.4rem;
  }
  // .one-row-slider-item__img
  &__img{
    max-width: 28.9rem;
    width: 100%;
    max-height: 28.9rem;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}