.one-row-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    h3{
        margin-bottom: 1.2rem;
        font-size: 4.8rem;
        line-height: 1.2;
    }
    p{
        text-align: center;
        font-size: 2rem;
        line-height: 1.2;
    }
    // .one-row-item__img
    &__img{
        width: 7.6rem;
        height: 7.6rem;
        margin-bottom: 1.2rem;
        img{
            width: 100%;
            object-fit: contain;
            height: 100%;
        }
    }
}
