.progress-bar-wr {
    width: 100%;
    max-width: 61.7rem;
    // .progress-bar-wr__text
    &__text {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 3.8rem;
        @media screen and (max-width: $tabletSmall) {
            margin-bottom: 2rem;
        }
    }

    .progress-bar-wr__value,
    .progress-bar-wr__limit-value {
        font-size: 2rem;
        line-height: 1.2;
        font-weight: 700;
        color: $yellow;
        @media screen and (max-width: $mobile) {
            font-size: 1.8rem;
        }
    }
    progress{
        width: 100%;
        border: 0;
        border-radius: 3px;
        height: 1.4rem;
        &::-webkit-progress-bar {
            background-color: #F8F8F8;
            width: 100%;
            border: 0;
            border-radius: 3px;
            height: 1.4rem;
        }
        &::-webkit-progress-value {
            border-radius: 3px 0 0 3px;
            background-color: #8DB833;
        }
        &::-moz-progress-bar {
            width: 100%;
            border: 0;
            border-radius: 3px;
            height: 1.4rem;
        }
    }
}
