.table {
    // .table__row
    &__row {
        display: grid;
        grid-template-columns: 35% repeat(4, 1fr);

        &:first-child {
            border-bottom: 1px solid #DCDCDC;
        }

        &:last-of-type {
            border-top: 1px solid #DCDCDC;
        }

        &:nth-child(2n + 3){
            @extend .table__row--violet;
        }

        // .table__row--violet
        &--violet {
            .table__item {
                color: #C597D6;
            }

            .table__info {
                color: #C597D6;
            }

            .table__info--line {
                &:after {
                    background-color: #C597D6;
                }
            }

            img {
                opacity: .5;
            }
        }
    }



    // .table__price
    &__price {
        letter-spacing: .5px;
        @include adaptiveProperty('font-size', 20, 13);
        font-weight: 700;
        color: $white;
        text-align: center;
        padding: 7px 0 25px 0;
        text-transform: uppercase;
        @media screen and (max-width: $mobile) {
            padding-bottom: 17px;
            font-size: 1rem;
        }

        span {
            margin-top: 14px;
            display: block;
            width: 100%;
            color: $yellow;
            @media screen and (max-width: $mobile) {
                font-size: 1.4rem;
            }
        }

    }

    // .table__value
    &__value {
        padding: 22px 0;
        color: $yellow;
        @include adaptiveProperty('font-size', 20, 13);
        font-weight: 700;
        text-align: center;

        span {
            width: 100%;
            display: block;
            margin-top: 14px;
            text-transform: uppercase;
        }
    }

    // .table__info
    &__info {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 22px 3px;
        @include adaptiveProperty('font-size', 18, 12);
        color: $white;
        text-transform: uppercase;
        @media screen and (max-width: $mobile) {
            text-align: center;
        }

        &:first-of-type {
            @media screen and (max-width: $mobile) {
                padding-left: 5px;
            }
        }

        img {
            width: 24px;
            height: 24px;
            object-fit: contain;
        }
    }

    // .table__info--line
    &__info--line {
        position: relative;

        &:after {
            content: '';
            width: 30px;
            height: 1px;
            background-color: $white;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    // .table__item
    &__item {
        padding: 22px 31px 22px 0;
        @include adaptiveProperty('font-size', 18, 13);
        @include adaptiveProperty('line-height', 24, 14);
        font-weight: 700;
        color: $white;
        text-transform: uppercase;
        letter-spacing: .5px;
        border-right: 1px solid #DCDCDC;
        @media screen and (max-width: $mobile) {
            padding: 14px 5px 14px 0;
        }

        span {
            box-sizing: border-box;
            font-size: 1.6rem;
            line-height: 2.1rem;
            color: $yellow;
            text-align: right;
            text-transform: none;
            display: block;
            width: 100%;
            @media screen and (max-width: $mobile) {
                text-align: left;
            }
        }
    }

    // .table--three-col
    &--three-col {
        .table__row {
            grid-template-columns: 40% 1fr 1fr;
            @media screen and (max-width: $mobile) {
                grid-template-columns: 64% 1fr 1fr;
            }
            &:first-child {
                border-bottom: 1px solid #DCDCDC;
            }

            &:last-of-type {
                border-top: none;
                border-bottom: 1px solid #DCDCDC;
            }
        }
        .table__price{
            padding: 22px 0;
            color: $yellow;
            @media screen and (max-width: $mobile) {
                font-size: 1.4rem;
            }
        }
        .table__item{
            padding: 18px 24px 18px 0;
            @media screen and (max-width: $mobile) {
                padding:14px 20px 14px 0;
                font-size: 1.4rem;
            }
            span {
                @include adaptiveProperty('font-size', 18, 13);
                padding-left: 0;
                text-transform: uppercase;
                text-align: center;
                padding-bottom: 13px;
                @media screen and (max-width: $mobile) {
                    text-align: left;
                }
            }
        }
        .table__info{
            padding: 18px 0;
            @media screen and (max-width: $mobile) {
                padding: 14px 0;
            }
        }
    }
}
