.text-img-item-slide{
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: $tabletSmall) {
    max-width: 28.9rem;
    width: 100%;
  }
  h4{
    margin-top: 2.4rem;
    color: $yellow;
    transition: all .3s ease;
  }
  // .text-img-item-slide__img
  &__img {
    max-width: 19.6rem;
    width: 100%;
    transition: all .3s ease;
    @media screen and (max-width: $tabletSmall) {
      max-width: 28.9rem;
      width: 100%;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &.swiper-slide-active{
    h4{
      margin-top: 12rem;
      @extend .h3;
      color: $yellow;
      transition: all .3s ease;
      @media screen and (max-width: $tabletSmall) {
        margin-top: 2.4rem;
        font-size: 2.8rem;
      }
    }
    .text-img-item-slide__img{
      transform: scale(1.5);
      transition: all .3s ease;
      @media screen and (max-width: $tabletSmall) {
        transform: scale(1);
      }
    }
  }
}