.text-video-item {
  display: grid;
  grid-template-columns: 49% 42%;
  justify-content: space-between;
  @media screen and (max-width: $tabletLarge) {
    grid-template-columns: 49% 48%;
  }
  @media screen and (max-width: $tablet) {
    grid-template-columns: 100%;
    gap: 56px;
  }
  // .text-video-item__video-wr
  &__video-wr {
    position: relative;
    z-index: 5;
    width: 100%;

  }

  // .text-video-item__text
  &__text {
    h2 {
      margin-bottom: 2rem;
    }

    p {
      margin-bottom: 1.2rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  // .text-video-item__img
  &__img {
    position: relative;
    width: 100%;
    display: block;
    z-index: 5;
    box-shadow: 0px 30px 40px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0 50px 0 50px;

    img {
      width: 100%;
      object-fit: contain;
      border-radius: 0 50px 0 50px;

    }
  }

  // .text-video-item__btns
  &__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 41rem;
    width: 100%;
    margin-top: 4rem;
    @media screen and (max-width: $mobile) {
      max-width: none;
      flex-direction: column;
    }

    .btn {
      color: $white;
      padding: 1.2rem 5rem;
      @media screen and (max-width: $mobile) {
        width: 100%;
      }

      &:first-of-type {
        @media screen and (max-width: $mobile) {
          margin-bottom: 3.2rem;
        }
      }
    }
  }

  // .text-video-item--small
  &--small {
    max-width: 1377px;
    width: 100%;

    .text-video-item__text {
      @media screen and (max-width: $tablet) {
        order: 1;
      }
    }

    .text-video-item__img {
      @media screen and (max-width: $tablet) {
        order: 2;
      }
    }
  }

  // .text-video-item--align-center
  &--align-center {
    align-items: center;
  }

  // .text-video-item--pink-head
  &--pink-head {
    h2 {
      color: $pinkDark;
    }
  }

  // .text-video-item--brush
  &--brush {
    align-items: center;

    .text-video-item__wr {
      z-index: 5;
      position: relative;
      padding: 20% 0;
      @media screen and (max-width: $tablet) {
        padding: 0;
      }
    }

    .text-video-item__img {
      height: 0;
      position: relative;
      padding-bottom: 57%;

      img {
        top: 0;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .text-video-item__bg {
      position: absolute;
      top: 0;
      right: 30px;
      width: 140%;

      @media screen and (max-width: $tablet) {
        display: none;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  // .text-video-item--small
  &--small {
    max-width: 1377px;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 51% 44%;
    @media screen and (max-width: $tablet) {
      grid-template-columns: 100%;
      gap: 56px;
    }
  }

  // .text-video-item--pink-head
  &--pink-head {
    h2 {
      color: #D11378;
    }
  }

  // .text-video-item--mob-reverse
  &--mob-reverse {
    .text-video-item__text {
      @media screen and (max-width: $tablet) {
        order: 1;
      }

      h2 {
        @media screen and (max-width: $mobile) {
          text-align: center;
        }
      }
    }

    .text-video-item__wr {
      @media screen and (max-width: $tablet) {
        order: 2;
      }
    }
  }

  // .text-video-item--reverse
  &--reverse {
    position: relative;
    z-index: 5;

    .text-video-item__text {
      order: 1;
    }

    .text-video-item__wr {
      order: 2;
      z-index: -1;
    }
  }

  // .text-video-item--text-small
  &--text-small {

  }

  // .text-video-item--without-text
  &--without-text {
    grid-template-columns: 100%;

    .text-video-item__img {
      max-width: 70.5rem;
      width: 100%;
      margin: 0 auto;
    }
  }

  // .text-video-item--bubbles
  &--bubbles {
    min-height: 48rem;

    .text-video-item__img {
      position: relative;

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 0;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }

      &:before {
        height: 44.3rem;
        width: 24.4rem;
        left: 0;
        top: 2.8rem;
        background-image: url(assets/img/bubble-img/bubbles-left.png);
        transform: translateX(-100%);
      }

      &:after {
        height: 48rem;
        width: 31.9rem;
        right: 0;
        background-image: url(assets/img/bubble-img/bubbles-right.png);
        transform: translateX(100%);
      }
    }
  }
}
