.locations-item{
    width: 100%;
    padding: 20px;
    background-color: rgba(16,184,233,1);
    box-sizing: border-box;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.05);
    h3{
        margin-bottom: 1.2rem;
    }
    a{
        font-size: 1.8rem;
        color: $white;
        line-height: 2.1rem;
        word-break: break-word;
    }
}
