.circle{
    border-radius:50%;
    transform: rotate(-90deg);
    // .circle__bg
    &__bg{
        fill:none;
        stroke: rgba(255,255,255, .3);
        stroke-width:6;
    }
    // .circle__line
    &__line{
        stroke-dasharray: 200px;
        stroke-dashoffset: 0;
        stroke-linecap: round;
        stroke-width: 6px;
        stroke: white;
        fill: none;
        transition: all 1200ms ease-out;
    }
    // .circle--yellow
    &--yellow{
        .circle__line {
            stroke: $yellow;
        }
    }
    // .circle--blue
    &--blue{
        .circle__line {
            stroke: $blue;
        }
    }
    // .circle--green
    &--green{
        .circle__line {
            stroke: $green;
        }
    }
    // .circle--violet
    &--violet{
        .circle__line {
            stroke: #9B51E0;
        }
    }
}


