.circle-item{
    width: 158px;
    height: 158px;
    position:relative;
    margin:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 6px solid;
        border-color:transparent $yellow $yellow $yellow;
        box-sizing: border-box;

    }
    // .circle-item--yellow
    &--yellow {

    }
}
.wrapper {
    position:relative;
    margin:20px;
}
.arc {
    position:absolute;
    top:0;
    left:0;
    width:100px;
    height:100px;
    border-radius:100%;
    border:1px solid;
}
.arc_start {
}


