.number-item{
    display: flex;
    flex-direction: column;
    align-items: center;

    // .number-item__number
    &__number{
        font-size: 5.8rem;
        line-height: 6.3rem;
        color: $white;
        font-family: $secondary-font;
    }
    // .number-item__text
    &__text{
        text-align: center;
        font-size: 4.2rem;
        line-height: 4.6rem;
        color: $white;
        font-family: $secondary-font;
    }
}
