.pages-links{
    border-radius: 100px;
    display: flex;
    max-width: 256px;
    width: 100%;
    // .pages-links__link
    &__link{
        background-color: #1F1F1F;
        border-radius:100px 0 0 100px;
        font-size: 1.8rem;
        line-height: 1.3;
        font-weight: 700;
        color: $white;
        width: 50%;
        padding: 15px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #F83D96;
        border-right: none;
        &.active{
            background-color: #F83D96;
        }
        &:last-of-type{
            border-radius:0 100px 100px 0;
        }
    }
}
