.paw-mark-list{
    ul {
        li {
            @extend .p;
            color: $white;
            padding-left: 36px;
            margin-bottom: 1.6rem;
            position: relative;

            &:after {
                width: 24px;
                height: 24px;
                background-image: url(assets/img/icon/paw.svg);
                background-repeat: no-repeat;
                background-size: contain;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 4px;
                content: '';
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}
