.play-video{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media screen and (max-width: $tabletSmall) {
        width: 80px;
        height: 80px;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
