.text-video-item {
    display: grid;
    grid-template-columns: 49% 42%;
    justify-content: space-between;
    @media screen and (max-width: $tabletLarge) {
        grid-template-columns: 49% 48%;
    }
    @media screen and (max-width: $tablet) {
        grid-template-columns: 100%;
        gap: 56px;
    }
    // .text-video-item__video-wr
    &__video-wr{
        position: relative;
        z-index: 5;
        width: 100% ;

    }
    // .text-video-item__text
    &__text {
        h2{
            margin-bottom: 2rem;
        }
        p{
            margin-bottom: 1.2rem;
            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }
    // .text-video-item__img
    &__img{
        position: relative;
        width: 100%;
        display: block;
        z-index: 5;
        box-shadow: 0px 30px 40px 0px rgba(0, 0, 0, 0.2);
        border-radius: 0 50px 0 50px;
        img{
            width: 100%;
            object-fit: contain;
            border-radius:0 50px 0 50px;

        }
    }

    // .text-video-item--small
    &--small{
        max-width: 1377px;
        width: 100%;
        .text-video-item__text{
            @media screen and (max-width: $tablet) {
                order: 1;
            }
        }
        .text-video-item__img{
            @media screen and (max-width: $tablet) {
                order: 2;
            }
        }
    }
    // .text-video-item--align-center
    &--align-center{
        align-items: center;
    }
    // .text-video-item--pink-head
    &--pink-head{
        h2{
            color: $pinkDark;
        }
    }
    // .text-video-item--brush
    &--brush{
        align-items: center;
        .text-video-item__wr{
            z-index: 5;
            position: relative;
            padding: 20% 0;
            @media screen and (max-width: $tablet) {
                padding: 0;
            }
        }
        .text-video-item__img{
            height: 0;
            position: relative;
            padding-bottom: 57%;
            img{
                top: 0;
                position: absolute;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .text-video-item__bg{
            position: absolute;
            top: 0;
            right: 30px;
            width: 140%;

            @media screen and (max-width: $tablet) {
                display: none;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    // .text-video-item--small
    &--small{
        max-width: 1377px;
        width: 100%;
        margin: 0 auto;
        grid-template-columns: 51% 44%;
        @media screen and (max-width: $tablet) {
            grid-template-columns: 100%;
            gap: 56px;
        }
    }
}
