.slider-pagination{
    .swiper-pagination-bullet{
        border-radius: 50%;
        border: 2px solid #E3E4EB;
        width: 16px;
        height: 16px;
        background-color: $transparent;
        box-sizing: border-box;
        opacity: 1 ;
        margin: 0 8px;
        &-active{
            border: 2px solid $yellow;
            background-color: $yellow;
        }
    }
}
