.slider-arrow{
    width: 55px;
    height: 55px;
    z-index: 40;
    position: absolute;
    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(assets/img/icon/arrow-left.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    &.disable{
        display: none;
    }
    // .slider-arrow--next
    &--next{

        &:after{
            transform: rotate(180deg);
        }
    }
    // .slider-arrow--pink
    &--pink{
        height: 5rem;
        width: 2.5rem;
        &:after{
            background-image: url(assets/img/icon/pink-arrow.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    }
}

.swiper-button-disabled {
    opacity: 0.4;
    cursor: not-allowed;
}
