/* custom css */
*{box-sizing: border-box;}
.row {    display: -ms-flexbox;    display: flex;    -ms-flex-wrap: wrap;    flex-wrap: wrap;    margin-right: -15px;    margin-left: -15px;}
.col{-ms-flex-preferred-size: 0;flex-basis: 0;-ms-flex-positive: 1;flex-grow: 1;max-width: 100%;position: relative;width: 100%;padding-right: 15px;padding-left: 15px;}
.col-lg-6 {-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%;position: relative;width: 100%;padding-right: 15px;    padding-left: 15px;}
.col-lg-4 {    -ms-flex: 0 0 33.333333%;    flex: 0 0 33.333333%;    max-width: 33.333333%;	position: relative;    width: 100%;    padding-right: 15px;    padding-left: 15px;}
.col-lg-3 {    -ms-flex: 0 0 25%;    flex: 0 0 25%;    max-width: 25%;	position: relative;    width: 100%;    padding-right: 15px;    padding-left: 15px;}
.col-lg-7{flex: 0 0 auto;width: 58.33333333%;position: relative;padding-right: 15px;}
.col-lg-8{flex: 0 0 auto;width: 66.66666667%;position: relative;padding-right: 15px;padding-left: 15px;}
.col-lg-9{flex: 0 0 75%;max-width: 75%;width: 100%;position: relative;padding-right: 15px;padding-left: 15px;}
.col-lg-11{flex: 0 0 auto;width: 91.66666667%;position: relative;padding-right: 15px;padding-left:15px;}
.col-lg-12{flex: 0 0 auto;width: 100%;position: relative;padding-right: 15px;padding-left: 15px;}

.form-control {display: block;width: 100%;height: calc(1.5em + 0.75rem + 2px);padding: 0.375rem 20px; font-size: 14px;min-height: 37px;font-weight: 400;line-height: 1.5;color: #212529;background-color: #fff;background-clip: padding-box; border: 1px solid #ced4da;border-radius: 0.25rem;transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
.form-post .group input::placeholder{color:#fff;}
.form-post .group textarea::placeholder{color:#fff;}
.school-login-form{Padding: 120px 0;}
.myform{justify-content:space-around;}
.school-login-form .myform h2{text-align: center;padding-bottom: 30px;line-height: 43px;font-family: "Have Heart Two";}
.school-login-form .myform h2 span{display:block;}
.card-body{background: #fff;padding: 1px 24px;}
.card-body p{margin: 10px 0 15px 0;font-weight: 600;line-height: 28px;font-size:18px;}
.form-post .form-group{margin-bottom:16px;}
.form-post .control-label{width:100%;font-size: 16px;line-height: 25px;font-weight: 500;text-transform: uppercase;}
.form-group .form-check{padding: 5px 0;}
.form-group .forgot-pass{font-size: 24px;text-transform: uppercase;color: #1e8ec3;line-height: 24px;font-family: "Have Heart Two";}
.form-post .group input,.form-post .group textarea,.form-post .group select{min-height: 37px;font-size: 14px;line-height: 14px;}
.form-post .group textarea{padding-top:10px;}
.school_login .myform .form-post .group input{min-height: 37px;font-size: 14px;line-height: 14px;}
.form-group .btn-warning{width:100%;}
.school_login{background: #1e8ec3;}
.school_login p{color: #333333;}


/*Website Page*/
.heading p{/*text-align:center;*/color:#fff;}
.school-page{width: 100%;}
.school_login .padding{max-width: 800px;margin: 0 auto;}
.school-page .myform h3{text-align:center;}
.school-page .myform h3 span{display:block;}
.school-page .group .form-control{border-radius: 10px;outline: none;}
.school-page .group a{background: #d5d4d4;padding: 0px;width: 15%;display: flex;justify-content: center;align-items: center;}
.class-detail{max-width:15%;width:100%;}
.school-page .form-post{max-width: 800px;margin: 0 auto; width: 100%;padding-top: 40px;}
.form-post .school-label{font-size: 16px;text-transform: none;color: #fff;line-height: 41px;}
textarea.form-control{height:auto;}
.form-post .Event-text-area{}
.form-post .class-detail p{font-size: 10px;text-align: center;font-weight: 800;}
.form-post .class-detail p span{display:block;}
.update{display:flex;background: #7fbd52;width: 100%;}
.update .create-update{display:flex;max-width: 795px;margin: 0 auto; width: 100%;}
.school-page .create-update .form-check{display:flex;flex: 0 0 68%;}
.school-page .create-update .form-check .form-check-label{font-size: 23px;text-align: center;line-height: 32px;}
.school-page .create-update .form-check .form-check-label span{display:block;}
.school-page .create-update .form-check-input[type=checkbox]{width: 24px;height: 24px;margin-top: 10px;}
.school-page .create-update .for-button{display:flex;flex: 0 0 30%;margin-top: 10px;}
.upload_file{display:flex;align-items:center;}
.upload_file input{margin-bottom: 10px;height: 44px;}
.custom-file-input {color: transparent;}
.custom-file-input::-webkit-file-upload-button {visibility: hidden;}
.custom-file-input::before {content: 'Upload file';color: #fff;display: inline-block;background: #f83d96;border: 1px solid #fff;border-radius: 25px;padding: 14px 27px;outline: none;white-space: nowrap;-webkit-user-select: none;cursor: pointer;font-weight: normal;font-size: 11pt;}
.custom-file-input:hover::before {border-color: #f83d96;}
.custom-file-input:active {outline: 0;}


/*Student Parent Register*/
.school_login .padding .form-control{border-bottom-left-radius: 10px; border-top-left-radius: 10px;color: #fff;background-color: #018BB3;border: 1px solid #E4E4E4;outline: none;border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;}
.school_login .Student_register{max-width: 800px;margin: 0 auto;display: flex;justify-content: center;}
.school_login .register_child_form_about .step{text-align:center;}
.school_login .School_name .Name_content p{color:#fff;padding-top: 25px;font-weight: 600;}
.school_login .School_name .Name_content p span{display:block;padding-top: 20px;font-weight: normal;}
.school_login .School_name .Name_content p span span{display:flex;padding-top:0px;}
.tabbing input,.tabbing select{border-radius:20px;}

.tabbing{background:#01a3d2;}
.register_child_form_about{max-width: 800px;margin: 0 auto;justify-content: center;}
.register_child_form_about p span{display:block;padding: 0px 9px;}
.navbar-nav li a{font-size:15px; color:#fff;}
.register_child_form_about .register_child_form{padding-top: 20px;}
.register_child_form .collapse .navbar-nav{display:flex;justify-content: center;}
.collapse .Prnt_chld_t-sh img{display:flex;margin:auto;}
.collapse .Prnt_chld_t-sh .active{background: #01a3d2;}
.collapse .Prnt_chld_t-sh .nav-item:hover{border:2px solid #01a3d2;}
.collapse .Prnt_chld_t-sh .nav-item{padding: 20px;margin-right: 10px;cursor: pointer;}

.Student_parent_register_form .register_child_form .form-post{background: #01a3d2;padding: 30px 20px;}
.Student_parent_register_form .register_child_form h3{line-height: 4.3rem;}
.register_child_form_about p{color:#fff;font-size: 20px;}
.school_login .Student_register .School_name{padding:2% 0;}
.school_login .Student_register .School_name h3{line-height: 4.3rem;}
.detail{text-align: left;}
.tabbing label{font-size:15px;color:#fff;align-items: flex-start;display: flex;margin-bottom:10px;}
.first label{padding-top:10px;}
.card_detail .tott label{justify-content: flex-end;display: flex;}
.card_detail .tott .total label{font-size: 24px;}
.credit-card-detail label{margin-bottom:0px}

.child_merchandise_1 .card_detail{margin-top:20px;}

.linked_about .next{display: flex;justify-content: flex-end;margin-top: 150px;}
.margi .add_more{margin-left: 14%;}

.linked_about p{font-size:13px;margin:0px;line-height: 20px;}
.linked_about .term a{font-size:12px;text-decoration:underline;color:#fff;}
.about_link{display:flex; justify-content:space-evenly;align-items:center;margin-top:2px;}
.about_link .money-back{display:flex; justify-content:center;}
.money-back span img{display:flex;margin: auto;}
.money-back span p{text-transform:uppercase;font-size: 15px;font-weight: 600;}
.form-group .checkbox-flex{display:flex;align-items: center;padding: 0px;}
.school_login .term{text-align:center;}
.required-group{line-height: 20px;}
.form-group .checkbox-flex .check-label{margin-bottom: 0px;}
.total label{margin: 40px 30px 14px 0;display: flex;justify-content: flex-end;}
.sizing .count p{display:flex;}
.sizing .size-chart{display: flex;margin-top: 20px;}
.sizing .size-chart .size-ch{background: #fff;}
.increase .shirt{display:flex;padding-left: 30px;}
.increase .hat{display:flex;padding-left: 30px;}
.increase .size-ch{background: #fff;height: 20px;align-self: end;}
.increase .up-down{padding-left: 20px;}
.popup {position: relative;}
.popup .popup-img{position: fixed;top: 60%;left: 50%;width: 500px;transform: translate(-50%, -50%);background: #fff;z-index: 1; display:none;}
.popup .popup-img img{width: 100%;}
.popup .popup-img a{position: absolute;top: 10px;right: 10px;font-size: 30px;}

/*t-shirts*/
.school_login .t-shirts .tshirts-content{text-align:center;padding-bottom: 10px;}
input[type="number"] {-webkit-appearance: textfield;-moz-appearance: textfield;appearance: textfield;}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none;}
.sizing p{margin:0px;font-size:16px;}
.t-shirts .tabbing .form-group .increase{display:flex;justify-content: space-between;align-items: center;margin-left: auto;}
.t-shirts .tabbing .form-group .sizing{display:flex; width: 44%;text-align: center;}
.t-shirts .tabbing .form-group .sizing .size-ch{display:flex; align-self:end;}
.t-shirts .tabbing .form-group .sizing .size-ch a{background:#000; color:#fff;padding: 3px 9px;border-radius: 5px;font-size: 12px;margin-left: 10px;}
.t-shirts .tabbing .form-group .sizing .count p{padding-left: 23px;}
.t-shirts .tabbing .form-group .increase .up-down{display: flex;}
.t-shirts .tabbing .form-group .increase .up-down a{background: transparent;border: 1px solid #000;padding: 0px 10px;justify-content: center;display: flex;}
.t-shirts .tabbing .form-group .increase .up-down input{width: 29px;border-radius: unset;padding-left: 8px;}
.t-shirts .tabbing .form-group .for-back-color{background:#2bbbe5;}
.t-shirts .child_merchandise_1 .form-group .d-none{display:none;}

/*School-dashboard*/
.goal_summary{justify-content: center!important;margin: 0 auto;max-width: 800px; display: flex;width: 100%;}
.first_icon{width: 140px;}
.fundrise_lv{width: 140px;}
.main-dashboard .funddash .latest_leader .heading{padding: 0px;font-size: 28px;margin: 0 auto 0px;}
.school-light-grey{margin-top: 7px;background-color: #f1f1f1;}
.school-red{height: 21px; background-color: #f83d96;}
.fundraise_graph{width: calc(100% - 280px);position: relative;top: 32%;}
.goal{margin: 0 auto;max-width: 800px;width: 100%;text-align: center;justify-content: center;padding: 0 100px;}
.goal .heading{padding: 5px 0;}
.goal p{color:#fff;}
.school_dashboard_1{background: #774a88;}
.fund_right{color: #fff;font-size: 15px;float: right;}
.fund_left{font-size: 15px;color: #fff;}
.fund .lft{flex: 0 0 33.333%;}
.fund .cent{display: flex;justify-content: center;}
.fund .rght{flex: 0 0 33.333%;text-align: right;}
.latest_donation{}
.funddash{background: #1b7eaa;}
.funddash h3{margin-bottom: 50px;text-align: start;}
.funddash p{font-size: 14px;}
.main-dashboard .funddash .latest_leader h3{padding:0px;}
.latest_leader{margin: 0 auto;}
.funddash .card-title{width:15%;}
.funddash .card-description{max-width: 40%;width: 100%;display: flex;}
.funddash .card-description p{font-size: 14px;}
.funddash .card-description a{font-size: 16px;text-decoration: underline;color: #fff;}
.funddash .card{padding: 10px;background: #1b96cd;display: flex;border-radius: 15px;margin: 0px 0px 10px 0;align-items: center;}
.funddash .card .line{border:1px solid #fff;height:40px;margin: 0 20px;}
.funddash .latest_leader .leader .card-title img{border-radius:50%;}
.funddash .latest_leader .leader .card{display:flex;align-items: end;}
.funddash .latest_leader .leader .card-title{max-width: 20%;width: 100%;}
.funddash .latest_leader .leader .card-title img{width: 40px;}
.funddash .latest_leader .leader .card .progress-report{max-width: 100%;}
.funddash .latest_leader .leader .card .progress-report .school-red{height: 10px;width: 50%;}
.funddash .latest_leader .leader .card .progress-report .name{max-width:90%;width:100%;padding: 0px 15px;}

.main-dashboard .reports_message_detail{background: #7fbd52;width: 100%;}
.main-dashboard .reports_message_detail .reports_link_detail{display: flex;max-width: 1200px;margin: 0 auto;width: 100%;}
.reports_message_detail .reports_link_detail .web_page .form-group{width:30%;}
.main-dashboard .reports_link_detail .web_page{display: flex;align-items: center;justify-content: space-around;}
.main-dashboard .reports_link_detail .copy_link{display: flex;align-items: center;justify-content: space-around;}
.main-dashboard .reports_message_detail .reports_link_withmessage{display: flex;max-width: 1200px;margin: 0 auto;width: 100%;background: #fff;padding: 20px;}
.main-dashboard .reports_message_detail .reports_link_withmessage .mess_detail{width: 100%;}
.main-dashboard .reports_message_detail .copy_link .form-group{display:flex;align-items: center;}
.main-dashboard .reports_message_detail .copy_link .form-group p{padding-left:20px;color:#fff;}
.main-dashboard .reports_message_detail .form-group .btn-warning{width: 100%;margin: 30px 0;}


.mess_detail .message_table table.table_width{width:100%;}
.reports_link_withmessage .mess_detail .message_table table tr{border:1px solid #afafaf;}
.mess_detail .message_table{text-align:center;}
.mess_detail .message_table table tr td{padding: 5px 0;font-size: 14px;}
.mess_detail .message_table table tr th.select{display: flex;border: 1px solid #afafaf;padding: 2px 4px; align-items: center; margin-left: 10px;width: 84px;}
.table_width thead tr{background: #f5f5f5;}
.mess_detail .message_table table tr td.name{width: 8%;}
.mess_detail .message_table table tr th{font-size: 16px;font-weight: 600;background: #f5f5f5;padding: 13px 15px;}
.mess_detail .message_table table tr th select{padding: 2px;border:1px solid #afafaf;background: #f5f5f5;}
.mess_detail .message_table table tr th span{color: #383636;font-size: 13px;font-weight: 400;}
.mess_detail .message_table table tr td.reply{display: flex;justify-content: space-between;}
.mess_detail .message_table table tr td a{border:1px solid #afafaf;width: 6%;padding: 3px 5px;margin-right: 10px;color: #000;}
.mess_detail .message_table table tr th span a{display:flex;}
.mess_detail .message_table table tr th span a img{padding-left: 10px;}
.mess_detail .message_table table tr input.form-check-input{height: 13px;}
.mess_detail .message_table .message_tab ul{display:flex;justify-content: end;}
.mess_detail .message_table .message_tab ul li a{font-size: 13px;color: #000;}
.mess_detail .message_table p{text-align: center;color: #000;}

.message_table .message_tab .navbar-nav{display:flex;justify-content: center;}
.collapse .Prnt_chld_t-sh img{display:flex;margin:auto;}
.message_table .message_tab .active{background: #000;}
.message_table .message_tab .active a{color: #fff!important;}
.message_table .message_tab .nav-item:hover{border:1px solid #000;}
.message_table .message_tab .nav-item{padding: 2px 4px;margin-right: 10px;cursor: pointer;}

.reports{padding: 2% 0;background-color: #5C3969;z-index: 5;margin-top: -0.2rem;position: relative;}
.reports .reports_detail{width: 100%;margin: 0 auto;background:#fff;padding: 30px;}
.reports .reports_detail .inbox p{color: #000;font-weight: 800;font-size: 32px;}
.reports_EXL .p{padding:0px;}
.reports .reports_EXL select{width: 63%;height: 25px;outline: none;border: 1px solid #afafaf;}
.reports .reports_EXL .select_opt select{width: 100%;}
.reports .reports_EXL .select_opt label{display:block;}
.align-self-end{align-self:end;margin-bottom: 5px;}
.align-self-end a{font-size: 16px;border: 1px solid #afafaf;padding: 3px 7px;color: #000;border-radius: 3px;}
.entries{display:flex;align-items:center;justify-content: flex-end;}
.reports_EXL .entries label{font-size: 14px;padding: 0 10px;font-weight: 600;}
.reports_EXL .entries select{width:30%;}
.reports_EXL .pt-4{padding-top: 10px;}
.reports_EXL .pt-8{padding: 30px 0;}
.reports_EXL .select_opt label{font-size: 16px;margin-bottom: 10px;}
.reports_EXL .select_opt span{display: inline-flex;align-items: center;border: 1px solid #afafaf;padding: 1px 10px;width: 100%;
    justify-content: center;}
.reports_EXL .select_opt span label{margin: 0;}
.reports_EXL .select_opt .expo{display: flex;align-items: baseline;border: 1px solid #afafaf;}
.reports_EXL .select_opt .expo select{border: none;height: 20px;}
.search-bt input{height: 25px;border: 1px solid #afafaf;font-size: 12px;}
.search-bt input::placeholder{color:#000;}
.reports_EXL .data{display:flex;width:100%;}
.reports_EXL .data table{width:100%;}
.reports_EXL .data table tr th{font-size:12px;font-weight: 600;}
.reports_EXL .data table tr td{border: 1px solid #afafaf;text-align: center;height: 17px;}

.form-section .manage_fundraising{background:#fff; padding:30px;width: 100%;margin: 0 auto;padding-bottom: 50px;}
.form-section .manage_fundraising .manage_head{display:flex;justify-content: space-between;}
.manage_head .head p{color: #000;font-weight: 800;font-size: 32px;}
.filter{display:flex;align-items: center;width: 30%;}
.filter p{color: #000;font-size: 12px;width: 28px;}
.filter span{display: block;font-size: 16px;border: 1px solid #afafaf;border-radius: 4px;padding: 5px 10px;margin: 0 12px;}
.filter input{border: none;outline: none;background: none;}
.filter .man-search{display: flex;width: 60%;border: 1px solid #afafaf;height: 28px;outline: none;align-items: center;}
.filter .man-search img{height: 18px;padding-right: 5px;}
.paginat a { padding: 5px;}
.manag_fund_data {padding-top: 10px;}
.manag_fund_data table{width: 100%;}
.manag_fund_data table tr th{background:#f5f5f5;font-size: 17px;font-weight: 600;line-height: 68px;}
.manag_fund_data table tr th.last_act_but{background: #000; color:#fff;}
.manag_fund_data table tr td.last_act_but{background: rgb(0 0 0 / 20%);padding-left:0;}
.manag_fund_data table tr td{font-size: 17px;font-weight: 600;height: 60px;align-items: center;padding: 20px 0 20px 0;text-align: center;}
.manag_fund_data table tr td.date-other{color:#000000;}
.manag_fund_data table tr td .for-button{display: flex;justify-content: center;}
.manag_fund_data table tr td .for-button input{width: fit-content;font-size: 15px;padding: 5px 21px;min-height: 20px;}

.reports_message_detail .templates_resource{margin: 0 auto;padding: 0 40px;}
.reports_message_detail .templates_resource h3{margin-bottom:5px;}
.templates_resource .resource{display:flex;align-items:center;padding-bottom: 15px;margin: 0 auto;max-width: 425px;}
.templates_resource .resource label{font-size:18px; font-weight:600;padding-right: 20px;color: #fff;}
.templates_resource .resource .for-button input{width: fit-content;font-size: 15px;padding: 5px 21px;min-height: 20px;margin:0px!important;}
.templates_resource .resource .for-button{margin-left: auto;}
.templates_resource .resource .f-ed-pag{width: 34%;}

.section-help-guides{padding:2% 0;background-color:#1b96cd;z-index: 5;margin-top: -0.2rem;position: relative;}
.section-help-guides .help_guides{margin: 0 auto;}
.section-help-guides .help_guides .manage_head .select{margin-top:10px;}
.section-help-guides .help_guides .manage_head .select .select-arrow{display:flex;justify-content:space-between;align-items: center;background: #01A3D2;height: 34px;padding: 18px;cursor: pointer;}
.section-help-guides .help_guides .manage_head .select img{height: 15px;}
.section-help-guides .manage_head .down-content{background: #01a3d2;padding: 18px;display:none;}
.section-help-guides .manage_head .down-content p{font-size: 15px;padding-bottom: 5px;color: #fff;line-height: 23px;}

.other_question{text-align:center;padding-top: 40px;}
.other_question p{padding-top: 20px;}
.other_question a{text-decoration: underline;color: #fff;font-size: 16px;}

.select.show .down-content{display:block !important;}

/*Parent-dashboard*/
.main-dashboard .parent_login .heading{padding-bottom: 30px;font-size: 65px;}
.main-dashboard .parent_login .login_link_detail{width: 100%;margin: 0 auto;color: #fff;padding: 30px 20px 22px 20px;}
.main-dashboard .parent_login .copy_link label{font-size: 22px;text-transform: uppercase;word-spacing: 8px;}
.main-dashboard .parent_login .form-group input{border-radius: 12px;height: 30px;background: #4fa213;}
.main-dashboard .parent_login .form-group input::placeholder{color: #fff;}
.main-dashboard .parent_login_link .for-button{display:flex;align-items: center;}
.main-dashboard .parent_login_link .for-button label{font-size: 22px;text-transform: uppercase;padding-right: 15px;word-spacing: 10px;}
.main-dashboard .parent_login_link .for-button .btn-warning{margin: 0px;min-height: 30px;font-size: 13px;padding: 5px 11px;width: 50%;}
.pb-1{padding-bottom: 10px;}
.m-0{margin:0px;}
.px-2{padding:10px 0;}
.p0-0{padding:0;}
.mt-2{margin-top:10px;}
.align-items-center{align-items: center;}
.main-dashboard .form-section .no_child{text-align: center;display: block;font-size: 24px;color: #fff;}
.main-dashboard .funddash .heading{}
.main-dashboard .funddash .child_register{width: 100%;margin: 0 auto;color: #fff;;padding: 0 20px;}
.funddash .user-detail{background: #1b96cd;padding-bottom: 8px;border-radius: 15px;}
.funddash .user-detail .user-n-ab{display:flex;padding: 0 15px;}
.funddash .user-detail .user-n-ab .name_abc{width:100%;}
.funddash .user-detail .user-n-ab img{border-radius: 50%;}
.user-detail .user-n-ab .copy_link label{font-size: 20px;}
.main-dashboard .name_abc .for-button .btn-warning{margin: 0px;min-height: 30px;font-size: 13px;padding: 5px 11px;width: 100%;}
.main-dashboard .child_register .name_abc h3{padding: 15px 0 4px 15px;margin:0px;line-height: 28px;}
.main-dashboard .child_register .donat h3{padding:0px; margin:0px;line-height: 28px;}
.main-dashboard .name_abc .form-group input{border-radius: 12px;height: 30px;background: #008bb1;}
.main-dashboard .name_abc .form-group input::placeholder{color: #fff;}

.funddash .user-detail .goal_summary{display: flex;padding: 30px 15px;max-width: 90%;font-weight: bold;}
.funddash .user-detail .goal_summary .fundraise_graph{width: 100%;}
.funddash .user-detail .goal_summary .fundraise_graph .school-light-grey{margin: 7px 0;}
.funddash .user-detail .goal_summary .fundraise_graph .fund{display: flex;justify-content: space-between;}
.funddash .user-detail .fundrase_profile .classes .d_h_m_s{display:flex;justify-content: center;margin-right: -25px;}

.fundrase_profile .classes h3{text-align: center;padding:0px; margin:0px}
.classes .d_h_m_s .d{text-align: center;margin-right: 25px;}
.classes .d_h_m_s span{padding:10px 10px;font-size: 20px;display: block;}
.classes .d_h_m_s span.day{background:#fc0d58;color: #1b7eaa;}
.classes .d_h_m_s span.hour{background:#f8d94b;color: #1b7eaa;}
.classes .d_h_m_s span.minute{background:#22cffb;color: #1b7eaa;}
.classes .d_h_m_s span.second{background:#36c874;color: #1b7eaa;}
.funddash .user-detail .fundrase_profile .profile .f_en_cop{display:flex;}
.fundrase_profile .profile h3{text-align: start;padding:0px; margin:0px}
.profile .f_en_cop .f{margin-right: 25px;padding:5px;border-radius: 50%;cursor: pointer;}
.profile .f_en_cop .face{background:#1a4789;}
.profile .f_en_cop .env{background:#6b4379;}
.profile .f_en_cop .cop{background:#74bc41;}

.funddash .prize .prize_select{margin-top: 15px;}
.funddash .prize .prize_select p{line-height: 23px;padding-bottom: 22px;}
.funddash .prize .st_prize p{padding-top: 5px;}
.funddash .prize{background: #7fbd52;padding:15px;margin-top:10px;    border-radius: 15px;}
.funddash .prize h3{padding:0px; margin-bottom:0px;}
.funddash .prize span{display:inline-flex;}
.funddash .prize span img{padding-right:5px;margin-top: 5px;width: 65px;}
.funddash .prize .car{align-self:end;display: flex;justify-content: end;}

:root {
   --star-color: #ccc;
   --star-background: #fc0;
}
 .Stars {
   --percent: calc(var(--rating) / 12 * 100%);
   display: inline-block;
  font-family: Times;
   line-height: 1;
}
 .Stars::before {
   content: '★★★★★★★★★★★★';
    letter-spacing: -2px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-size: 78px;
}

.intro{pointer-events: none;}

.user-donat{margin-bottom: 20px;}
.Badges_earnt{background: #5C3969;padding:15px;margin-top: 0px;    border-radius: 15px;}
.funddash .Badges_earnt h3{padding:10px;margin-bottom:0px;}
.funddash .Badges_earnt .priz h3{padding: 10px 0 0 10px;font-size: 50px;line-height: 56px;}
.overflow{overflow:hidden;}
.bronz{margin: 10px 0;}
.bronz p{font-size:12px;}
.Badges_earnt .overflow .cemter{text-align: center;}
.Badges_earnt .overflow .cemter img{display: initial;}
.pr{align-self:end;}
.funddash .Badges_earnt .car{align-self:end;display: flex;justify-content: end;}

.main-dashboard .divider{padding:10px 0;width:100%;margin: 15px 0;}

/*student_fundraising_detail*/
/*.main-dashboard .donte{padding-top:10px;}*/
.main-dashboard .donte .name_abcd span{font-size: 14px;padding: 20px 0;display: block;}
.main-dashboard .donte .name_abcd{margin-left: -15%;}
.main-dashboard .donte .name_abcd h3{padding: 0 0 10px 0;margin: 0px;}
.main-dashboard .donte .name_abcd  p span{display:block;padding: 0;}
.main-dashboard .child_register .user-donat{background: #d1eaf5;}
.donat .donat-step{background: #000;}
.donat .stepss{display:flex; justify-content:space-between;max-width: 150px;margin: 0 auto;width: 100%;padding: 10px 0;background: #000;}
.donat .stepss span{font-size: 16px;}
.donat .car a{width: 100%;min-height: 36px;padding: 10px 0;border-radius: 0px;}
.donat .donation_content p{text-align: center;font-size: 22px;font-weight: 600;color: #000000;padding-top: 10px;}
.donat .donation_content p span{display:block;color: #000;}
.donat .donation_content .amt a,.input a{background: #7fbd52;padding: 14px 12px;color: #fff;font-size: 14px;font-weight: 600;border-radius: 2px;margin-right:5px;display: inline-block;}
.donat .donation_content .amt a:hover {background: #0054dd;}
.input .in a{background:#fff; padding:0;color:#000;display: flex;align-items: center;padding: 8px 10px;}
.donat .donation_content .amt{margin-top: 20px;text-align:center;}
.donat .donation_content .amt .input .in{display: flex;background: white}
.donat .donation_content .amt .input_tr .in a{padding: 0;display: flex;align-items: center;background: #fff;color: #000;line-height: 36px;width: 60%;}
.donat .donation_content .input{max-width: 170px;padding: 20px 0;margin: 0 auto;display: flex;align-items: center;}
.donat .donation_content .input input{border: none;outline: none;}
.donat .donation_content .terms{display: flex;justify-content: center;margin: 0 auto;padding-bottom: 10px;}
.donat .donation_content .terms a{text-align: center;padding: 0px;font-size: 16px;}
.donat .donation_content .terms img{height:10px;}
.donate_board {margin:0 auto;}
.donate_board{padding-top:0px;}

/* donate-step */
.donate_step-2 .profile_validation{position:relative;}
.donate_step-2 .profile_validation label{color: #2848e5;position: absolute;top: 5px;left: 10px;font-weight: 600;font-size: 12px;}
.donate_step-2 .profile_validation .astrict{position: absolute;color: #2848e5;right: 10px;top: 10px;font-size: 22px;}
.donate_step-2 input{height: 50px;    margin: 10px 0;}
.donate_step-2 input:placeholder{display:flex; align-self:start}

.vertical{display: flex;background: #018bb3;border: 1px solid #fff;cursor: pointer;max-width: 100%;}
.vertical input{width:100%!important;padding: 0px;border: none!important;}
.vertical .card_cvv{display: flex;margin-left: auto;}
.vertical .card_cvv input{font-size: 12px;padding: 0px;display: flex;justify-content: center;align-items: center;margin: 0 auto;padding-left: 10px;}
.keep_checkbox{align-items:center;padding-bottom: 10px;}
.keep_checkbox .keep_check{height:16px;margin: 0px;}
.keep_checkbox .keep_safe{padding-top:0px;color: #2848e5;font-weight: 600;padding-left: 8px;}
.cardholder-detail input{margin: 8px 0;}

#paypal-button-container{text-align: center;max-width: 50%;margin: 0 auto;width: 100%;display: flex;justify-content: center;margin-top: 10px;}

.the-big-prize{padding: 7% 0;background-color: #774a88;z-index: 5;margin-top: -0.2rem;position: relative;}
.the-big-prize .t-bg-prz_main{max-width: 1320px;margin: 0 auto;text-align: center;}

.big_pri {margin-right: 44px;}
.big_pri h3{text-align: center;}
.big_pri p{text-align: center;}
.big_pri span{display:flex;justify-content: center;}
.big_pri span img{height: 65px;padding-right: 10px;}

.the-donat-login{padding: 7% 0;background-color: #5b3a67;z-index: 5;margin-top: -0.2rem;position: relative;}
.the-donat-login .t-bg-prz_main{max-width: 1320px;margin: 0 auto;text-align: center;}
.the-donat-login .donatlogin{display: flex;justify-content: center;padding-top: 15px;}
.the-donat-login .donatlogin .log_in{background: none;margin-left: 13px;}


.signin .btn, .signup .btn{min-width: 150px;}
td.edited { background-color: #e1d4d4;}

/* 08-02-2022 */
.product_profile{background:#01A3D2;}
.product_profile .school_dash{padding: 60px 0;}
.product_profile .school_dash .product_about{justify-content: center;}
.product_profile .school_dash .logo_product{margin:0 auto;}
.product_profile .product_support_cont{text-align:center;}
.product_profile .product_support_cont h3.heading{padding:0px;}
.product_profile .product_support_cont h5{font-size:24px;color:#fff;line-height:30px;padding-top: 10px;}
.product_profile .product_support_cont p{text-align:start;font-size:16px;font-weight:400;color:#fff;line-height:22px;padding-top: 15px;}

.product_profile_about{background:#8DB833;}

.add_to_cart_main{background:#5C3969;padding: 40px;}
.add_to_cart_main .add_to_cart{background:#01A3D2;border-radius: 40px;max-width: 1411px;width: 100%;margin: 0 auto;}
.add_to_cart_main .add_to_cart .school_dash{padding: 40px;}
.add_to_cart_main .product_support_cont h5{font-size:24px;color:#fff;line-height:30px;}
.add_to_cart_main .product_support_cont p{font-size:16px;font-weight:400;color:#fff;line-height:22px;padding-top: 15px;}

.up_down_product{display:flex;justify-content: space-between;margin-top: 30px;}
.up_down_product p{font-size: 20px;font-weight: 600;}
.up_down_product .up-down p{display:flex;padding-left:0px;}
.up_down_product .up-down a{margin-top:20px;}
.add_to_cart_2{margin-top:40px!important;}

.thank_support{padding: 40px;}
.thank_support .support_content{background:#01A3D2;border-radius: 40px;padding: 40px 20px;max-width: 1411px;width: 100%;margin: 0 auto;}
.card_detail .payment_detail{padding:0 50px;}
.support_content .support_cont{max-width:1000px;width:100%;margin:0 auto;text-align: center;padding-bottom:20px;}
.support_content .support_cont p{font-size: 16px;padding-top: 20px;}
.support_content .add_parent_student{padding: 40px 0;}
.support_content .payment_detail .form-check{/*padding-top:40px;*/}
.support_content .payment_detail .form-check .payment{display:block;}
.support_content .payment_detail label{font-size:16px; color:#fff;}
/* 08-02-2022-end */

/* 17-02-2022 */
.playground_content {padding: 5px;}
.playground_content h2{font-size: 42px;text-align: start;margin-bottom: 0px;}
.playground_content p{font-size: 15px;}
.playground-2 {padding-top: 20px;}
.playground_image {justify-content: end;display: flex;}
.playground_image img {display: flex;width: 100%;justify-content: end;border-radius: 15px;height: auto;}

/* 22-02-2022 */
.make_a_differ_content h3{text-align:start;margin-bottom: 0px;}
.make_a_differ_content p{padding-top: 15px;}
.make_a_differ_content h4{padding: 30px 0 20px;}
.button_make_a_diffre{display:flex;}
.make_a_differ_content .donate_1{margin-right:15px;}

.fund_money_section{width: 50%;}
.fund_money{font-size: 20px;margin-left: 15px;margin-top: 5px;}
.school_name{margin-bottom: 0px!important;margin-left: 15px;}
.school_logo{display: flex;margin-top: -10px;align-items: center;}
.logo_img{width: 35%;}
.main_heading{padding-left: 20px;}
.heading_pag{font-size: 20px;}
.go_to_page{margin-top: 5px;}
.name_abcd{width: 50%;margin-left: 20px;}
.d{width: 11%;}


/*09-03-2022*/
.help_how_to_fundraise{background: #04a3d2;padding: 10px 20px;border-radius:15px;}
.help_how_to_fundraise .steps_of_hhtf{display:flex; align-items:center;padding-bottom: 28px;}
.help_how_to_fundraise .steps_of_hhtf:last-child{padding-bottom:0px;}
.help_how_to_fundraise .steps_of_hhtf p{padding-left:10px;}
.help_how_to_fundraise .steps_of_hhtf .step_wise-detail{max-width:20%; width:100%;}

.user-detail .goal_summary_help_step{padding: 0px 15px!important; display:flex; justify-content:space-between!important;background: url(https://colourfrenzy.onlineprojectprogress.com/schools/wp-content/themes/color-frenzy-schools/assets/img/brush/brush-violet.svg) no-repeat;background-position: center;background-size: 68%;align-items: center;}
.user-detail .goal_summary_help_step .fundraise_graph{width:auto!important;}
.school_logo_upload,.hero_image_upload{display: flex;align-items: center;}
.school_logo_upload .school_logo{margin-right: 15px;}
.school_logo_upload .upload_file input{margin-bottom: 0;}
.school_logo{margin-right: 15px;}
.max_width_set{max-width: 1250px;}