/*
* Developer css
*/
.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: 'Arvo', serif;
}

.page_404 img {
    width: 100%;
}

.four_zero_four_bg h1 {
    font-size: 80px;
}

.four_zero_four_bg h3 {
    font-size: 80px;
}

.four_zero_four_bg {
    padding-top: 150px;
    text-align: center;
}

.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}

.contant_box_404 {
    margin-top: 0;
    text-align: center;
    padding-bottom: 40px;
}

.error {
    color: #f83d96;
    font-size: 14px;
}
/*=Loading wheel
    --------------------*/
.ajaxLoading {
    width: 100%;
    height: 100%;
    position: fixed; z-index:99999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.8);
}
.ajaxLoadingWheel {
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: url("../images/ball-triangle.svg") no-repeat fixed center;
}
.ajaxLoading.hide{ display: none;}
.toast{font-size: 15px;}
.signin{display: inline-block;}
.signup{display: inline-block;float: right;}
.signin input[type=submit],.signup input[type=submit]{padding: 7px 40px;}
.school-login-form .card-body{border-radius: 23px;}
.foot{font-size: 21px;width: 30%;padding-left: 6px;}
.step_number{display:inline-block !important;}
.btnSignupPrev{display: inline-block;}
.btnSignupNext{float: right;}
.d-none{display: none;}
.btnAddSchoolSubmit {display: inline-block;float: right !important;}
.btnAddSchoolPrev { display: inline-block !important;}
.btnAddSchoolNext {display: inline-block;float: right;}
.warning {color: #b90058 !important;font-weight: 700;}
span.help-block {font-size: 15px;color: #b513a8;font-weight: 700;}
.float-right{float: right;}
.next {display: inline-block;width: 100%;}
.register_child_form_about .register_child_form p {text-align: center;}
#addStudentForm .increase{display: flex;flex-direction: row;align-items: center;}
#addStudentForm .up-down p{display: flex;}
#addStudentForm .quantity{width: 47px;border-radius: 0;}
.increase_num{width: 37px;}
.decrease_num{width: 37px;}
.sizing{float: left;}
.size-ch{    display: inline-block;border: 1px solid;padding: 4px 8px;border-radius: 50%;}
.even{ padding: 15px 0 31px 0;background: #1e8ec3;}
.dfdf{ padding: 15px 0 31px 0;background: #2facd1;}
.add_more {display: inline-block;}
.wooco-img{width: 150px;}
.nickname_checkbox {width: 20px;}
.fund_label{font-size: 13px !important;}
.mb-5{margin-bottom: 5px;}
.child-detail {padding: 14px 0 14px 0;}
.arrow_increase,.arrow_decrease{justify-content: center;top: 30%;position: relative;}
#qty1{width: 44px;border-radius: 0;text-align: center;}
.pointer{background: #1e8ec3;height: 20px;position: relative;margin: auto;width: 114%;left: -37px;}
.card_detail h3{text-align: center;}
.card_detail p{font-size: 14px;margin: 0;}
.terms-cond {    display: flex;align-items: center;   margin-top: 10px;}
.terms-cond p {margin: 0;}
.card_holder {    margin-top: 8px;}
.card_input{width: 100%; border-radius: 0 !important;}
.payment_detail .form-check-input{min-height: 0;}
.payment_detail #ParentFirstName{border-radius: 0 !important;}
.total .subtotal{margin:0;}
.crd input{ min-height: 0 !important;}
.sizing .size-chart{display: flex;margin-top: 20px;}
.sizing .size-chart .size-ch{background: #fff;}
.increase .shirt{display:flex;}
.liner{border: 10px solid #1e8ec3;display: flex;margin-left: -20px;margin-right: -20px;}
.qty{margin: 0 10px;}
.reports_message_detail  .login_link_detail input{color:#fff;}
.name_abc input{color:#fff;}
.qty {width: 40px; border: 2px solid;border-radius: 0;text-align: center;}
.parent-dsh input {font-size: 14px !important;}
.school_dashboard .latest_leader img{width: 40px !important;}
.school_dashboard .resource .btn-warning{margin:0 !important;}
.school_dashboard .templates_resource .resource .f-ed-pag{min-width: 44%;}
.donate_other_amount {background: #fff;padding: 22px 12px;font-size: 14px;font-weight: 600;border-radius: 2px;margin-right: 5px;display: inline-block;}
.donat .donation_content .amt a.active {background: #0b1be1;}
a.donate_amount.active {
    background: #361bcd;
}
.btnDonateNext,.btnDonatePrev {
    width: 100%;
    min-height: 36px;
    padding: 10px 0;
    border-radius: 0px;
	background: #7fbd52;
}
.final-donate .btn{
    width: 100%;
    min-height: 36px;
    padding: 10px 0;
    border-radius: 0px;
}
/*.stepss .active {
    color: #f32085;
}*/
.keep_safe{padding-top: 8px;}
.keep_check{width: 16px;}
.keep_checkbox{display: flex;}
.next-donate{display:flex;}
.next-donate .btnDonatePrev{width: 30%;}
.next-donate .btnDonateNext{width: 70%;}
.final-donate{display:flex;}
.final-donate .btnDonatePrev{width: 30%;}
.final-donate .final-payment{width: 70%;}
/*Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #125575;
    margin: 15% 26%;
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}
.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
label#total_price_detail {
    font-size: 20px;
    font-weight: 700;
}
/*Modal */
.frm-step3 .child_merchandise_1 input{
    border-radius: 0;
}
.frm-step3 .child_merchandise_1 label{
    margin-bottom:0;
}
.tott{display: flex;}
.tott label{   font-size: 20px;
    font-weight: 700;
}
#sub_total_price_detail_step3{padding-left: 5px;}
.required {
    border: 1px solid #EA4335 !important;
}
form #card_number {
    background-image: url("../../assets/images/card.png")!important;
    /* background-position: 2px -121px, 260px -61px; */
    background-repeat: no-repeat;
    background-size: 120px 361px, 120px 361px;
    padding-left: 14px;
    width: 225px;
}
.btnDonateStudentNext, .btnDonateStudentPrev {
    width: 100%;
    min-height: 36px;
    padding: 10px 0;
    border-radius: 0px;
    background: #7fbd52;
}
.btnDonateStudentNext:hover {
    background: #0054dd;
}
.donate_student_other_amount {
    background: #fff;
    padding: 22px 12px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 2px;
    margin-right: 5px;
    display: inline-block;
}
.user-dashboard{background: #1b7eaa;}
.user-dashboard ul{
    display: flex;
    justify-content: center;
    pa-top: 20px;
    padding-top: 12px;
}
.user-item li {
    padding: 13px;
    font-size: 15px;
}
.user-item li a{
    color: #fff;
}
.user-item li .active {
    color: #7c0974;
    /* font-weight: 700; */
}
#change-request-modal textarea::placeholder {
    font-size: 15px;
}
#change-request-modal textarea{
    font-size: 15px;
}
/*** Invoice **/
.invoice hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
.invoice-title h2{display: inline-block;}
.pull-right{float: right !important;}
.invoice-dashboard{
    padding: 70px 0;
    background: #7fbd52;
    width: 100%;
}
.invoice-dashboard address{
    font-size: 15px;
    color: #fff;
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.428571429;
}
.invoice-dashboard strong{
    color: #333;
    font-weight: 700;
}
.text-right{
    text-align: right;
}
.invoice-dashboard .panel.panel-default{
    border-color: #ddd;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}
.invoice-dashboard .panel-heading{
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;

}
.invoice-dashboard .panel-title{
    margin-top: 0;
    margin-bottom: 0;
    /* font-size: 16px; */
    color: inherit;
}
.panel-body {
    padding: 15px;
}
.invoice-dashboard table{
    width: 100%;
    margin-bottom: 20px;
}
.invoice-dashboard  .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-size: 15px;
}
/*** Invoice **/
.reports_EXL .report {
    overflow: auto;
}
.dataTables_paginate{display: flex;flex-direction: row;}
table.dataTable thead th, table.dataTable thead td{font-size: 15px;}
div#dataTables_length label {
    font-size: 15px;
    display: flex;
}
div#dataTables_filter label,#dataTables_info,.paginate_button {
    font-size: 15px;
}
.dataTables_paginate{
    float: left !important;
    width: 50%;
}
.dataTables_paginate .previous,.dataTables_paginate .next{display: flex !important;}
#dataTables_wrapper tbody td{text-align: center !important;}
.dt-button span {
    font-size: 15px;
}
.dataTables_filter label{font-size: 15px !important;}
#serach_tables td{text-align: center !important;}
div#merchandise-report_info {
    font-size: 15px;
}
.dataTables_info{ font-size: 15px;}
    /** Skelton Loader **/
.skeleton-loader:empty {
    width: 100%;
    height: 15px;
    display: block;
    background: linear-gradient( to right, rgba(255, 255, 14, 0), rgb(248 61 150) 50%, rgba(255, 255, 41, 0) 80% ), #5c3969;
    background-repeat: repeat-y;
    background-size: 50px 500px;
    background-position: 0 0;
    animation: shine 1s infinite;
}

@keyframes shine {
    to {
        background-position: 100% 0;
    }
}
.prod--wrapper {
    display: flex;
    width: 100%%;
    margin: 32px 0;
    border: 1px solid #b6b6b6;
    border-radius: 6px;
    padding: 22px 10px;
    font-family: "Calibri", "Arial";
}

.prod--wrapper .prod--row {
    display: flex;
    flex-direction: row;
}

.prod--wrapper .prod--col {
    display: flex;
    flex-direction: column;
}

.prod--wrapper .prod--img {
    width: 20%;
    margin: 0 15px;
}

.prod--wrapper .prod--img .prod--img-graphic {
    max-height: 100%;
    height: 100%;
    vertical-align: top;
    max-width: 100%;
}

.prod--wrapper .prod--details {
    width: 100%;
    margin-left: 17px;
}

.prod--wrapper .prod--details .prod--name {
    margin-bottom: 3px;
    width: 100%;
    display: block;
    max-width: 100%;
}

.prod--wrapper .prod--details .prod--name .prod--name-para {
    margin: 0 auto;
}

.prod--wrapper .prod--details .prod--name .prod--name-text {
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    color: #002877;
    height: 40px;
}

.prod--wrapper .prod--details .prod--description {
    margin-bottom: 13px;
}

.prod--wrapper .prod--details .prod--description .prod--description-text {
    font-size: 13px;
    line-height: 18px;
    color: #666666;
}
/** Skelton LOader **/
