.school_btn{

    border-radius: 100px;

    font-size: 1.8rem;

    line-height: 1.3;

    font-weight: 700;

    color: #fff;

    padding: 0px;

    box-sizing: border-box;

    display: flex;

    align-items: center;

    justify-content: center;

    position: relative;

    z-index: 1;

    border-right: none;

    background: #f83d96;
    width: 103px;

}

.myaccount{

    display: flex;

}


/* 08-02-2022 */
.row {    display: -ms-flexbox;    display: flex;    -ms-flex-wrap: wrap;    flex-wrap: wrap;    margin-right: -15px;    margin-left: -15px;}
.col{-ms-flex-preferred-size: 0;flex-basis: 0;-ms-flex-positive: 1;flex-grow: 1;max-width: 100%;position: relative;width: 100%;padding-right: 15px;padding-left: 15px;}
.col-lg-6 {-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%;position: relative;width: 100%;padding-right: 15px;    padding-left: 15px;}
.col-lg-4 {    -ms-flex: 0 0 33.333333%;    flex: 0 0 33.333333%;    max-width: 33.333333%;	position: relative;    width: 100%;    padding-right: 15px;    padding-left: 15px;}
.col-lg-3 {    -ms-flex: 0 0 25%;    flex: 0 0 25%;    max-width: 25%;	position: relative;    width: 100%;    padding-right: 15px;    padding-left: 15px;}
.col-lg-7{flex: 0 0 auto;width: 58.33333333%;position: relative;padding-right: 15px;}
.col-lg-8{flex: 0 0 auto;width: 66.66666667%;position: relative;padding-right: 15px;padding-left: 15px;}
.col-lg-9{flex: 0 0 75%;max-width: 75%;width: 100%;position: relative;padding-right: 15px;padding-left: 15px;}
.col-lg-11{flex: 0 0 auto;width: 91.66666667%;position: relative;padding-right: 15px;padding-left:15px;}
.col-lg-12{flex: 0 0 auto;width: 100%;position: relative;padding-right: 15px;padding-left: 15px;}

.form-control {display: block;width: 100%;height: calc(1.5em + 0.75rem + 2px);padding: 0.375rem 20px; font-size: 14px;min-height: 37px;font-weight: 400;line-height: 1.5;color: #212529;background-color: #fff;background-clip: padding-box; border: 1px solid #ced4da;border-radius: 0.25rem;transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}

.Product_page{background:#01A3D2;}
.product-page-sde{padding-left:10px;padding-right:10px;}