@media (max-width:576px){
	.school-page .form-post{width:100%;}
	.col-lg-4,.col-lg-6,.col-lg-8,.col-lg-11{-ms-flex: 0 0 100%; flex: 100%;max-width: 100%;}
	.col-lg-3{-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;width: 100%;}
	.myform .signin input,.myform .signup a{font-size: 16px;padding: 0px 34px;text-transform: uppercase;}
	.mt-4{margin-top:40px;}
	
	
	.increase .up-down{padding-left: 20px;}
	.child_1 .for-mobile select{padding: 0 10px 0 5px;}
	.register_child_form .margi a,.register_child_form .margi button{display:flex; width:100%;}
	.margi .add_more{margin-left:0px;}
	
	.payment_detail .form-check{align-items: center;display: flex;justify-content: space-between;}
	.payment_detail .tott label{margin-bottom:0px;}
	
	
	/* parent-dashboard */
	.main-dashboard .parent_login .heading,.main-dashboard .funddash .heading{padding: 0 24px;font-size: 50px;}
	.main-dashboard .parent_login .parent-register .copy_link{padding-bottom: 7px;}
	.main-dashboard .parent_login .parent-register .copy_link label{font-size: 16px;}
	.main-dashboard .parent_login .form-group input{font-size: 16px;}
	
	
	.col-md-6{flex: 0 0 50%;max-width: 50%;width: 100%;}
	.main-dashboard .parent_login_link .for-button label{font-size: 16px;}
	.pb-1{padding-bottom: 10px;display: flex;align-items: center;}
	.main-dashboard .parent_login_link .for-button .btn-warning{width: 100%;}
	.main-dashboard .login_link_detail .parent_login_link{padding-top: 40px;}
	
	.for-mobile .user-detail .user-n-ab{display: inline;padding: 0 15px;}
	.for-mobile .user-detail .user-n-ab a,.for-mobile .user-detail .user-n-ab .user-img{display: flex;justify-content: center;}
	.for-mobile .user-detail .user-n-ab a img,.for-mobile .user-detail .user-n-ab .user-img img{height: 180px;width: auto;}
	.for-mobile .user-detail .user-n-ab .copy_link{padding-bottom: 7px;}
	.for-mobile .user-detail .user-n-ab .copy_link label{font-size: 16px;}
	.for-mobile .user-detail .user-n-ab .form-group input{font-size: 16px;}
	
	.child_register .prize{margin-top: 20px;}
	.funddash .user-detail .fundrase_profile .profile{margin-left: 20px;margin-right: 20px;padding-top: 20px;}
	.funddash .user-detail .fundrase_profile .classes .d_h_m_s{margin-right: -10px;}
	.classes .d_h_m_s .d{margin-right: 10px;}
	.child_register .donat{margin-top: 20px;}
	
	.col-md-4{flex: 0 0 33.3333%;max-width: 33.3333%;width: 100%;}
	
	.for-mobile .donate_board{padding-top: 10px;}
	
	.t-bg-prz_main .big_pri{margin-left:0px;}
	.t-bg-prz_main .big_pri span img{height: 53px;}
	
	.text-img-item__wrapper .swiper-slide{max-width: 140px;width: 100%;}
	
	.form-section .manage_fundraising .manage_head{display: inline;}
	.filter{width: 100%;}
	.filter .man-search{width: 100%;}
	.manag_fund_data{display: flex;overflow: auto;}
	.manage_head .head p{font-size: 20px;}
	.manag_fund_data table tr td.last_act_but{display: flex;justify-content: center;padding: 10px;max-width: 11%;width: 100%;margin: 0;}
	.manag_fund_data table tr th.last_act_but{display: flex;align-items: center;justify-content: center;height: 58px;}
	.manag_fund_data table{width: 100%;}
	.manag_fund_data table tr th{font-size: 14px;line-height: 20px;width: 30%;display: flex;justify-content: center;align-items: center;}
	.manag_fund_data table tbody tr{display: flex;align-items: center;width: 100%;}
	.manag_fund_data table thead tr{display: flex;background: #f5f5f5;}
	.manag_fund_data table tr td{font-size: 12px;max-width: 7%;display: flex;justify-content: center;margin: 0 10px;width: 100%;}
	.manag_fund_data table tr td .for-button input{font-size: 12px;padding: 5px 11px;min-height: 19px;}
	.manag_fund_data table tr td.date-other{max-width: 10%;width: 100%;}
	
	.reports .reports_detail .inbox p{font-size: 20px;}
	.reports_EXL .m-pt-4{padding-top: 10px;}
	.reports_EXL .m-search{display: flex;max-width: 100%;width: 100%;}
	.align-self-end a{width: 100%;text-align: center;}
	.reports .reports_EXL select{width: 100%;height: 27px;}
	.reports .reports_EXL .select_opt select{width: 60%;}
	.reports_EXL .select_opt span{padding:0px;}
	.reports_EXL .select_opt label{font-size: 14px;margin-bottom:0px;}
	.reports .reports_EXL .select_opt{display: flex;align-items: center;justify-content: space-between;}
	
	/* create Websie page */
	.m-form-section{padding: 10px 0;}
	.school_webpage .heading{padding: 0 10px 30px;}
	.school_logo{display: none;}
	.form-post .Event-text-area{margin-bottom: 20px;}
	.school_webpage .school-page .group{padding: 0px 10px 10px;}
	.school_webpage .school-page .m-group{-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;width: 100%;}
	.update .create-update{display:inline;}
	.school-page .update{padding: 40px 40px 40px 80px;}
	.school-page .create-update .for-button{width: 100%;justify-content: right;}
	.form-group .btn-warning{width: fit-content;text-transform: initial;}
	.school-page .create-update .form-check{padding-bottom: 20px;}
	.reports_EXL .entries label.show{padding:0 10px 0 0;}
	.reports_EXL .entries label.entry{padding:0 0 0 10px;}
	.school-page .create-update .form-check .form-check-label{font-size: 15px;line-height: 23px;padding-left: 10px;font-weight: 600;}
	.section-help-guides .help_guides{flex:0 0 100%; max-width:100%;width:100%;}
	
	/* product Page */
	.add_to_cart_main .add_to_cart .school_dash .product_img img{width:100%;}
	.add_to_cart_main .add_to_cart .up_down_product p{display:flex;}
	.add_to_cart_main .add_to_cart .up_down_product{display: inherit;}
	.add_to_cart_main .add_to_cart .up_down_product .up-down{display:inline-block;}
}
