.container {
    max-width: #{$containerMaxWidth + px};
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding-right: $containerPaddingS;
    padding-left: $containerPaddingS;
    @media (min-width: $mobileP1) {
        padding-right: $containerPaddingM;
        padding-left: $containerPaddingM;
    }
    @media (min-width: $tabletLargeP1) {
        padding-right: $containerPadding;
        padding-left: $containerPadding;
    }
}
main{
    margin-top: $headerHeight;

    @media screen and (max-width: $tabletLarge) {
        margin-top: $headerHeightTabletLarge;
    }
    @media screen and (max-width: $tablet){
        margin-top: $headerHeightTablet;
    }
    @media screen and (max-width: $tabletSmall){
        margin-top: $headerMobHeight;
    }
}
