html {
    font-size: 62.5%;
    font-family: $primary-font;
    color: $black;
}


h1, .h1 {
    @include adaptiveProperty('font-size', 80, 58);
    @include adaptiveProperty('line-height', 87, 63);
    font-family: $secondary-font;
    color: $white;
    letter-spacing: .15rem;
}

h2, .h2 {
    @include adaptiveProperty('font-size', 58, 38);
    @include adaptiveProperty('line-height', 63, 41);
    font-family: $secondary-font;
    color: $white;
    letter-spacing: .15rem;
}

h3, .h3 {
    @include adaptiveProperty('font-size', 38, 34);
    @include adaptiveProperty('line-height', 41, 37);
    font-family: $secondary-font;
    color: $white;
    letter-spacing: .15rem;
}

h4, .h4 {
    font-size: 2.8rem;
    line-height: 3rem;
    font-family: $secondary-font;
    color: $white;
    letter-spacing: .15rem;
}

p, .p {
    font-size: 1.6rem;
    line-height: 1.3;
    color: $white;
    letter-spacing: .5px;
}

.check-mark-list,
.circle-mark-list{
    ul {
        li {
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 2.1rem;
            color: $white;
            margin-bottom: 20px;
            position: relative;

            &:last-of-type {
                margin-bottom: 0;
            }

            &:after {
                content: '';
                position: absolute;
            }
        }
    }
}

.check-mark-list {
    ul {
        li {
            padding-left: 40px;

            &:after {
                left: 0;
                top: 0;
                height: 24px;
                width: 24px;
                background-image: url(assets/img/icon/check.svg);
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}

.circle-mark-list {
    ul {
        li {

            &:after {
                width: 7px;
                height: 7px;
                background-color: $white;
                border-radius: 50%;
                left: -20px;
                top: 4px;
            }

        }
    }
}
