// container
$containerPaddingS: 1.6rem;
$containerPaddingM: 2.4rem;
$containerPadding: 6.4rem;

// Sizing
$designContainer: 1440; // container width
$containerMaxWidth: $designContainer + remToNum($containerPadding) * 2;
$deskLarge: 1599px;
$deskLargeP1: $deskLarge / 1px + 1px;
$desktop: 1440px;
$desktopP1: $desktop / 1px + 1px;
$tabletLarge: 1280px;
$tabletLargeP1: $tabletLarge / 1px + 1px;
$tablet: 1024px; // @media (max-width: $tablet) --> 1024px and smaller
$tabletP1: $tablet / 1px + 1px; // @media (min-width: $tabletP1) --> 1025px and bigger
$tabletSmall: 767px;
$tabletSmallP1: $tabletSmall / 1px + 1px;
$mobile: 575px;
$mobileP1: $mobile / 1px + 1px;
$mobileSmall: 370px;
$mobileSmallP1: $mobileSmall / 1px + 1px;

// Adaptive Property Sizing
$adaptivePropertyMaxViewport: $containerMaxWidth;
$adaptivePropertyMinViewport: 375;


$headerHeight: 115px;
$headerHeightTablet:108px;
$headerHeightTabletLarge:88px;
$headerMobHeight: 98px;
// Colors

// base
$white: #ffffff;
$black: #000000;
$pink: #F32085;
$pinkDark: #D11378;
$fieldInputBg:#018BB3;
$blue:#01A3D2;
$yellow: #F2E62F;
$blueLight: #10B8E9;
$green: #9ADB14;
$orange: rgba(253,184,47,1);
$violet: #6C4992;
$lightViolet: #B47FC7;
$lightViolet2: #C898DA;
$transparent: rgba(0, 0, 0, .0);

// Fonts
$primary-font: 'Lato', sans-serif;
$secondary-font: 'Have Heart Two';

$fuschia: #ff0081;
$button-bg: $fuschia;
$button-text-color: #fff;
$baby-blue: #f8faff;
