.popular-post{

    display: grid;
    grid-template-columns: 175px 1fr;
    gap: 16px;
    width: 100%;

    @media screen and (max-width: $mobile) {
        grid-template-columns: repeat(2,1fr);
    }
    // .popular-post__text
    &__text{
        margin-top: .8rem;
        h5 {
            font-size: 1.4rem;
            line-height: 2.2rem;
            font-weight: 600;
            font-style: italic;
            color: $white;
            margin-bottom: 1.6rem;
            text-transform: uppercase;
            @media screen and (max-width: $mobile) {
                font-size: 1.6rem;
            }
        }
    }
    // .popular-post__img
    &__img{
        width: 100%;
        border-radius: 20px;
        img{
            border-radius: 20px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
