.popular-posts {
    max-width: 408px;
    width: 100%;
    @media screen and (max-width: $mobile) {
        display: flex;
        flex-direction: column;
    }

    h3 {
        margin-bottom: 3.2rem;
        @include adaptiveProperty('font-size', 48, 38);
        @include adaptiveProperty('line-height', 52, 41);
    }

    // .popular-posts__item
    &__item {
        margin-bottom: 30px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}
