.post-content{
    width: 100%;
    background-color: #8D59A0;
    padding: 54px 57px 108px 57px;
    box-sizing: border-box;
    @media screen and (max-width: $mobile) {
        background-color: transparent;
        padding: 0;
    }
    h2{
        text-transform: uppercase;
        @include adaptiveProperty('font-size', 28, 28);
        @include adaptiveProperty('line-height', 45, 33);
        font-family: $primary-font;
        font-weight: 500;
        font-style: italic;
        letter-spacing: .5px;
        text-align: center ;
        margin-bottom: 2.8rem;

    }
    h3{
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 2.4rem;
        font-family: $primary-font;
        text-transform: uppercase;
        letter-spacing: .5px;
        font-style: italic;
        margin:3.2rem 0 1.6rem 0;
    }
    h4{
        font-weight: 700;
        font-size: 1.6rem;
        @include adaptiveProperty('line-height', 21, 19);
        font-family: $primary-font;
        margin:3.2rem 0 1.6rem 0;
    }
    b{
        color: $white;
        font-weight: 700;
        margin-bottom: 3.2rem;
        display: block;
    }
    p{
        margin-bottom: 1.2rem;
        img{
            margin: 0 auto;
            max-height: 400px;
            object-fit: cover;
            width: 100%;
        }
    }
    p,b{
        @include adaptiveProperty('line-height', 21, 19);
        color: $white;
        letter-spacing: .1rem;
        font-size: 1.4rem;
    }
    // .post-content__img
    &__img{
        height: 0;
        position: relative;
        padding-bottom: 44%;
        width: 100%;
        margin-bottom: 50px;
        @media screen and (max-width: $mobile) {
            padding-bottom: 52%;
        }
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    // .post-content__share
    &__share{
        display: flex;
        align-items: flex-end;
        margin: 65px 0;
        @media screen and (max-width: $mobile){
            margin: 80px 0;
        }
        p{
            margin-right: 29px;
            font-size: 1.4rem;
            line-height: 1.6rem;
            color: $white;
            margin-bottom: 0;
            @media screen and (max-width: 425px) {
                margin-right: 15px;
            }
        }
        ul{
            display: flex;
        }
        li{
            margin-right: 26px;
            transition: all .3s ease;
            @media screen and (max-width: 425px) {
                margin-right: 15px;
            }
            &:hover {
                transform: scale(1.2);
                transition: all .3s ease;
            }
            &:last-of-type{
                margin-right: 0;
            }
            a{
                width: 24px;
                height: 24px;
                display: block;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
    // .post-content__nav
    &__nav{
        border: 1px solid #B47FC7;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @media screen and (max-width: $tablet) {
            grid-template-columns: 100%;
        }
    }
    // .post-content__main-form-wr
    &__main-form-wr{
        margin-top: 72px;
        h3{
            margin-top: 0;
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: 700;
            line-height: 2.4rem;
            font-style: normal;
        }
        p{
            font-size: 1.8rem;
            line-height: 2.1rem;
            margin-bottom: 4rem;
        }
    }
    // .post-content__main-form
    &__main-form{
        margin-left: 0;
        display: block;
        gap: 0;
        .field{
            margin-bottom: 16px;
            &:last-of-type{
                margin-bottom: 0;
            }
        }
        .btn{
            margin-top: 48px;
            @media screen and (max-width: $mobile) {
                margin-top: 57px;
            }
        }
    }
}
