.post-preview-item{
    h4{
        font-size: 1.8rem;
        line-height: 2.4rem;
        font-style: italic;
        font-weight: 500;
        color: $white;
        font-family: $primary-font;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 1.2rem;
        letter-spacing: .5px;
    }
    p{
        text-align: center;
        font-size: 1.4rem;
    }
    &:hover .btn{
        opacity: 1;
        visibility: visible;
        transition: all .3s ease;
    }
    // .post-preview-item__img
    &__img{
        position: relative;
        height: 0;
        padding-bottom: 73%;
        width: 100%;
        border-radius: 20px;
        margin-bottom: 13px;
        img{
            border-radius: 20px;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
        }
    }
    .btn{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease;
    }
    // .post-preview-item__category
    &__category{
        font-size: 1.6rem;
        line-height: 2.1rem;
        color: $white;
        position: absolute;
        bottom: 20px;
        left: 17px;
        letter-spacing: .5px;
    }


    // .post-preview-item__info
    &__info{
        margin-bottom: 13px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media screen and (max-width: $mobile) {
            flex-direction: column;
            align-items:center ;
        }
    }
}
