.link-items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 5;
    @media screen and (max-width: $tablet) {
        justify-content: space-between;
    }
    // .link-items__item
    &__item{
        flex-basis: calc(33% - 30px * 2 / 3);
        margin:15px 30px 15px 0;
        @media screen and (max-width: $tabletLarge) {
            flex-basis: calc(33% - 15px * 2 / 3);
            margin-right: 15px;
        }
        @media screen and (max-width: $tablet) {
            flex-basis: calc(50% - 15px);
            margin: 30px 0 0 0;
        }
        @media screen and (max-width: $tabletSmall) {
            flex-basis: 100%;

        }
        &:nth-child(3n){
            margin-right: 0;
        }
    }
    // .link-items__brush-bg
    &__brush-bg{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 175%;
        height: 100%;
        bottom: 0;
        z-index: -1;
        @media screen and (max-width: $tabletLarge) {
            display: none;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    // .link-items--whiteBg
    &--whiteBg{
        .link-item{
            background-color: $white;
        }
    }
    // .link-items--two-col
    &--two-col{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 60px;
        max-width: 1020px;
        width: 100%;
        margin: 0 auto;
        @media screen and (max-width: $tabletSmall) {
            grid-template-columns: 100%;
            gap: 30px;
        }
        .link-item{
            margin-top: 0;
            padding: 15px 15px 44px 15px;
            margin-right: 0;
            &:nth-child(2),
            &:nth-child(3) {
                @media screen and (max-width: $tablet) {
                    margin-top: 0;
                }
            }
            h3{
                color: $black;
                margin-top: 16px;
            }
            .btn{
                margin-top: 15px;
            }
        }
        .link-item__img{
            padding-bottom: 58%;
        }
    }
    // .link-items--shadow
    &--shadow{
        .link-item{
            -webkit-box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.12);
            box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.12);
        }
    }
}
