.link-item {
    cursor: pointer;
    border-radius: 13px;
    background-color: $violet;
    box-sizing: border-box;
    padding: 30px 30px 60px 30px;
    margin-top: 30px;
    @media screen and (max-width: $tabletLarge) {
        padding: 30px 24px 70px 24px;
    }



    // .link-item__img
    &__img {
        width: 100%;
        height: 0;
        padding-bottom: 85%;
        position: relative;

        img {
            border-radius: 13px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    h3 {
        margin-top: 2.8rem;
    }

    p {
        margin-top: 2rem;
    }

    .btn {
        margin-top: 1.6rem;
    }
}
