.ticket-item {
    position: relative;
    z-index: 5;
    padding: 23% 38px 33%;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 723px;
    background-color: $transparent;
    @media screen and (max-width: $desktop) {
        padding: 20% 30px;
    }
    @media screen and (max-width: $tablet) {
        padding: 15% 20px;
    }
    @media screen and (max-width: $tabletSmall) {
        padding: 68px 15px 68px 35px;
        min-height: 0;
    }
    @media screen and (max-width: $mobile) {
        min-height: 595px;
        max-width: 380px;
        width: 100%;
        margin: 0 auto;
    }

    //.ticket-item__bg
    &__bg {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        width: 100%;
        z-index: -1;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    h3 {
        text-align: center;
        color: $yellow;
        @include adaptiveProperty('margin-bottom', 32, 20);
        @include adaptiveProperty('font-size', 48, 38);
        @include adaptiveProperty('line-height', 52, 41);
    }


    i {
        font-size: 1.6rem;
        line-height: 2.1rem;
        color: $white;
        text-align: left;
        font-style: italic;
    }

    // .ticket-item__text
    &__text {
        margin-bottom: 2rem;
        flex-grow: 1;
        @media screen and (max-width: $tabletSmall) {
            flex-grow: 0;
        }
    }

    .btn {
        margin: 0 auto;
    }

    ul {
        margin-bottom: 35px;

        li {
            padding-left: 35px;
            @media screen and (max-width: $tabletLarge) {
                padding-left: 20px;
            }

            &:after {
                left: 15px;
                @media screen and (max-width: $tabletLarge) {
                    left: 5px;
                }
            }
        }
    }
}
