.ticket-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    @media screen and (max-width: $tabletLarge) {
        gap: 15px;
    }
    @media screen and (max-width: $tablet) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: $tabletSmall) {
        grid-template-columns: 100%;
        gap: 30px;
    }

}
