.text-img-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    align-items: center;
    margin-bottom: 50px;
    position: relative;
    z-index: 6;
    @media screen and (max-width: $tablet) {
        grid-template-columns: 100%;
        gap: 56px;
    }

    &:last-of-type {
        margin-bottom: 0;
    }


    // .text-img-item__text
    &__text {
        position: relative;
        z-index: 5;
        @media screen and (max-width: $tablet) {
            order: 1;
        }

        h2 {
            margin-bottom: 2rem;
            @media screen and (max-width: $mobile) {
                margin-bottom: .8rem;
            }
        }

        h3 {
            @include adaptiveProperty('font-size', 44, 28);
            @include adaptiveProperty('font-size', 47, 30);
            margin-bottom: 2rem;
            @media screen and (max-width: $mobile) {
                margin-bottom: 1.6rem;
            }
        }

        h5 {
            font-size: 1.8rem;
            line-height: 2.1rem;
            color: $white;
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 2rem;
        }

        p {
            color: $white;
            margin-bottom: 1.2rem;

            &:last-of-type {
                margin-bottom: 0;
            }

            b {
                font-weight: 700;
                margin-bottom: 1.2rem;
                display: block;
            }
        }


        .btn {
            margin-top: 57px;
            @media screen and (max-width: $mobile) {
                margin-top: 37px;
                width: 100%;
            }
        }
    }

    // .text-img-item__lead
    &__lead {
        @include adaptiveProperty('font-size', 20, 18);
        @include adaptiveProperty('line-height', 24, 21);
    }

    // .text-img-item__img-wr
    &__img-wr {
        position: relative;
        width: 100%;
        height: 100%;
        order: 2;
        z-index: 5;
        display: flex;
        align-items: flex-start;
        justify-content: center;

        .text-img-item__img {
            max-width: 525px;
        }
    }

    // .text-img-item__img-bg
    &__img-bg {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        @media screen and (max-width: $tabletSmall) {
            display: none;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    // .text-img-item__img
    &__img {
        width: 100%;
        @media screen and (max-width: $tablet) {
            order: 2;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    // .text-img-item__text-bg
    &__text-bg {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }


    // .text-img-item--reverse
    &--reverse {
        .text-img-item__text {
            order: 1;
        }

        .text-img-item__img {
            order: 2;
        }

        &.text-img-item--not-full-width {
            margin-left: auto;

        }
    }

    // .text-img-item--list-small
    &--list-small {
        li {
            font-size: 1.6rem;
        }
    }

    .check-mark-list {
        .text-img-item__text {
            ul {
                li {
                    padding-left: 0;

                    &:after {
                        display: none;
                    }

                    p {
                        &:first-of-type {
                            margin: 0;
                        }
                    }
                }

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }

    // .text-img-item--img-large
    &--img-large {
        grid-template-columns: 37% 60%;
        justify-content: space-between;
        align-items: flex-start;
        gap: 0;
        @media screen and (max-width: $tablet) {
            grid-template-columns: 100%;
            gap: 56px;
        }

        p + h2 {
            margin-top: 4.4rem;
        }
    }

    // .text-img-item--message-bg
    &--message-bg {
        grid-template-columns: 57% 33%;
        justify-content: space-between;
        @media screen and (max-width: $desktop) {
            grid-template-columns: 65% 33%;
        }
        @media screen and (max-width: $tablet) {
            grid-template-columns: 100%;
        }

        .text-img-item__img {
            @media screen and (max-width: $tablet) {
                width: 50%;
                margin: 0 auto;
            }
            @media screen and (max-width: $tabletSmall) {
                width: 100%;
            }
        }

        .text-img-item__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 17% 0 20%;
            height: 100%;
            box-sizing: border-box;
            @media screen and (max-width: $tablet) {
                padding: 0;
            }

        }

        .text-img-item__text-inner {
            width: 66%;

            h3 {
                @include adaptiveProperty('font-size', 44, 28);
            }

            @media screen and (max-width: $tabletLarge) {
                width: 70%;
            }
            @media screen and (max-width: $tablet) {
                width: 100%;
            }
        }

        .text-img-item__text-bg {
            @media screen and (max-width: $tablet) {
                display: none;
            }
        }
    }

    // .text-img-item--message-bg-small
    &--message-bg-small {
        grid-template-columns: 48% 46%;
        @media screen and (max-width: $tablet) {
            grid-template-columns: 100%;
        }

        .text-img-item__img {
            @media screen and (max-width: $tablet) {
                order: 2;
                width: 60%;
                margin: 0 auto;
            }
            @media screen and (max-width: $tabletSmall) {
                width: 100%;
            }
        }

        .text-img-item__text {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 18% 0 25%;
            box-sizing: border-box;
            @media screen and (max-width: $tablet) {
                order: 1;
                padding: 0;

            }

        }

        .text-img-item__text-bg {
            @media screen and (max-width: $tabletLarge) {
                width: 130%;
            }
            @media screen and (max-width: $tablet) {
                display: none;
            }
        }

        .text-img-item__text-inner {
            width: 72%;

            @media screen and (max-width: $tabletLarge) {
                width: 80%;
            }
            @media screen and (max-width: $tablet) {
                width: 100%;
            }
        }
    }

    // .text-img-item--not-full-width
    &--not-full-width {
        width: 91%;
        grid-template-columns: 53% 44%;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: $tablet) {
            grid-template-columns: 100%;
            width: 100%;
        }

    }

    // .text-img-item--align-top
    &--align-top {
        align-items: flex-start;
    }
}
