.search-input{
    position: relative;
    width: 100%;

    input{
        width: 100%;
        padding: 13px 40px;
        border-radius: 10px;
        border: 1px solid $white;
        background-color: #00A3D2;
        height: 42px;
        box-sizing: border-box;
        color: $white;
        font-size: 1.4rem;
        line-height: 1.6rem;
        letter-spacing: .5px;
        outline: none;
        &::placeholder{
            color: #f1f1f1;
            font-size: 1.4rem;
            line-height: 1.6rem;
            letter-spacing: .5px;
        }
    }
    button{
        position: absolute;
        left: 8px;
        top: 50%;
        transform: translateY(-50%);
        img{
            width: 24px;
            height: 24px;
            object-fit: contain;
        }
    }

    .search-input__reset {
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease;
    }
    &.active {
        .search-input__reset {
            opacity: 1;
            visibility: visible;
            transition: all .3s ease;
            padding: 5px;
            display: block;
            position: absolute;
            content: '';
            top: 50%;
            left: auto;
            right: 15px;
            transform: translateY(-50%);
            width: 21px;
            height: 21px;
            background-image: url(assets/img/icon/reset.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            z-index: 10;
        }
    }
}
