.single-input-form{
    width: 100%;
    box-sizing: border-box;
    position: relative;
    button{
        position: absolute;
        right: 4px;
        top: 50%;
        transform: translateY(-50%);
        height: calc(100% - 8px);
        min-height: 0;
        @media screen and (max-width: $mobile) {
            position: static;
            transform: translate(0);
            width: 100%;
            margin-top: 15px;
        }
    }
    input{
        width: 100%;
        height: 100%;
        background-color: $transparent;
        border-radius: 40px;
        padding: 20px 140px 20px 16px;
        box-sizing: border-box;
        border: 1px solid $white;
        font-size: 1.6rem;
        line-height: 1.3;
        color: $white;
        outline: none;
        @media screen and (max-width: $mobile) {
            padding: 20px 16px;
        }
        &::placeholder{
            font-size: 1.6rem;
            line-height: 1.3;
            color: $white;
        }
    }
}
