.text-items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @media screen and (max-width: $tablet) {
        justify-content: space-between;
    }
    // .text-items__item
    &__item{
        flex-basis: calc(33% - 30px * 2 / 3);
        margin: 25px 30px 25px 0;
        @media screen and (max-width: $tablet) {
            flex-basis: calc(50% - 15px);
            margin: 15px 15px 15px 0;
        }
        @media screen and (max-width: $tabletSmall) {
            margin-right: 0;
            flex-basis: 100%;
        }
        &:nth-child(3n){
            margin-right: 0;
        }
        &:nth-child(2n){
            @media screen and (max-width: $tablet) {
                margin-right: 0;
            }
        }
    }
    // .text-items--colors-head
    &--colors-head{
        .text-items__item {
            &:nth-child(1) {
                @extend .text-item--green;
            }

            &:nth-child(2) {
                @extend .text-item--yellow;
            }

            &:nth-child(3) {
                @extend .text-item--orange;
            }

            &:nth-child(4) {
                @extend .text-item--pink;
            }

            &:nth-child(5) {
                @extend .text-item--violet;
            }
        }
    }
}
