.text-item{


    h3{
        color: $green;
        margin-bottom: .8rem;
    }
    p{
        color: $white;
    }
    // .text-item--green
    &--green{
        h3{
            color: rgba(154,219,20,1);
        }
    }
    // .text-item--yellow
    &--yellow{
        h3{
            color: rgba(242,230,47,1);
        }
    }
    // .text-item--orange
    &--orange{
        h3{
            color: rgba(253,184,47,1);
        }
    }
    // .text-item--pink
    &--pink{
        h3{
            color: rgba(209,19,120,1);
        }
    }
    // .text-item--violet
    &--violet{
        h3{
            color: rgba(144,71,212,1);
        }
    }

}
