.about-section {
    background-color: #8DB833;
    padding: 7% 0;
    @media screen and (max-width: $tablet) {
        padding: 56px 0;
    }
    // .about-section__slider-wr
    &__slider-wr {
        max-width: none;
        margin: 0 0 7% 0;
        @media screen and (max-width: $tablet) {
            margin-bottom: 56px;
        }
    }
    // .about-section__text-img-item
    &__text-img-item{
        margin-bottom: 7%;
        @media screen and (max-width: $tablet) {
            margin-bottom: 56px;
        }
        &:last-of-type{
            margin-bottom: 7%;
            @media screen and (max-width: $tablet) {
                margin-bottom: 56px;
            }
        }
    }
    // .about-section__description
    &__description {
        margin-top: 7%;
        @media screen and (max-width: $tablet) {
            margin-top: 100px;
        }

        h3 {
            margin-bottom: 40px;
            text-align: center;
            @media screen and (max-width: $mobile) {
                margin-bottom: 20px;
                font-size: 2.8rem;
            }
        }

        .btn {
            margin: 0 auto;
            @media screen and (max-width: $mobile) {
                width: 100%;
            }
        }
    }
}
