.blog {
    padding: 7% 0;
    background-color: #79498B;
    @media screen and (max-width: $tablet) {
        padding: 56px 0;
    }
    // .blog__post-previews-wr
    &__post-previews-wr {
        grid-row: span 2;
        @media screen and (max-width: $tablet) {
            order: 2;
        }
    }

    // .blog__post-previews
    &__post-previews {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        @media screen and (max-width: $tabletSmall) {
            grid-template-columns:100%;
        }
    }

    // .blog__inner
    &__inner {
        display: grid;
        grid-template-columns: 1fr 340px;
        grid-template-rows: min-content 1fr;
        gap: 82px;
        @media screen and (max-width: $desktop) {
            gap: 40px;
        }
        @media screen and (max-width: $tablet) {
            grid-template-columns: 100%;
            grid-template-rows: 1fr;
            gap: 56px;
        }
    }

    // .blog__pagination
    &__pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        @media screen and (max-width: $mobile) {
            margin-top: 30px;
        }
        ul {
            display: flex;
            align-items: center;
            margin: 0 5px;
        }

        li {
            a {
                font-size: 1.8rem;
                line-height: 2.2rem;
                color: $white;
                border-bottom: 1px solid transparent;
                padding: 0 3px;

                &.active {
                    border-bottom: 1px solid $white;
                }
            }
            span {
                font-size: 18px;
                color: $white;
                text-decoration: underline;
            }
        }
    }

    // .blog__pagination-prev, .blog__pagination-prev
    &__pagination-prev,
    &__pagination-next {
        font-size: 1.8rem;
        line-height: 2.2rem;
        color: $white;
    }
    // .blog__popular-posts
    &__popular-posts{
        @media screen and (max-width: $tablet) {
            order: 3;
        }
        h3{
            @include adaptiveProperty('font-size', 38, 38);
            @include adaptiveProperty('line-height', 52, 41);
        }
        .popular-posts__item{
            grid-template-columns: 135px 1fr;
        }
    }
    // .blog__popular-posts-wr
    &__popular-posts-wr{
        @media screen and (max-width: $mobile) {
            order: 2;
        }
    }
    // .blog__categories
    &__categories {
        @media screen and (max-width: $tablet) {
            order: 1;
            max-width: 409px;
            width: 100%;
        }
        h3 {
            margin-bottom: 30px;
            @include adaptiveProperty('font-size', 38, 38);
            @include adaptiveProperty('line-height', 52, 41);
        }

        ul {

        }

        li {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                font-size: 1.4rem;
                color: $white;
            }
        }
    }

    // .blog__search-input
    &__search-input {
        color: rgba(240, 240, 240, 1);
        display: block;
        margin-bottom: 28px;
        input {
            padding-left: 70px;
            height: 48px;
            background-color: #5C3969;

            &::placeholder {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 2.2rem;
                color: rgba(240, 240, 240, 1);
            }
        }

        button {
            left: 26px;
        }
    }


    // .blog__link
    &__link{
        margin-top: 60px;
        display: block;
        width: 100%;
        border-radius: 20px;
        box-shadow: 0px 30px 40px 0px rgba(0, 0, 0, 0.2);
        @media screen and (max-width: $tablet) {
            max-width: 408px;
            width: 100%;
            margin: 50px auto 0 auto;
        }
        @media screen and (max-width: $mobile) {
            order: 1;
            margin-left: 0;
            margin-top: 0;
        }
        img{
            border-radius: 20px;
            width: 100%;
            object-fit: cover;
        }
    }
}
