.brush-bg-section {
    position: relative;
    z-index: 30;
    background-color: $yellow;
    padding: 59px 0 7% 0;

    h2 {
        color: rgba(1, 163, 210, 1);
        text-align: center;
        margin-bottom: 40px;

    }

    // .brush-bg-section__top-brush
    &__top-brush {
        position: absolute;
        top: -66px;
        left: 0;
        height: 68px;
        width: 100%;
        @media screen and (max-width: $tablet) {
            display: none;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
    }

    // .brush-bg-section__bottom-brush
    &__bottom-brush {
        position: absolute;
        bottom: -61px;
        left: 0;
        height: 62px;
        width: 100%;
        @media screen and (max-width: $tablet) {
            display: none;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    // .brush-bg-section__link-items-wr
    &__link-items-wr{
        margin-bottom: 10%;
        @media screen and (max-width: $tablet) {
            margin-bottom: 56px;
        }
        h2{
            color: $white;
            margin-bottom: 46px;
            @media screen and (max-width: $tablet) {
                margin-bottom: 30px;
            }
        }
    }
    // .brush-bg-section__text-items-wr
    &__text-item-wr{
        margin-bottom: 10%;
        @media screen and (max-width: $tablet) {
            margin-bottom: 56px;
        }
        h2{
            margin-bottom: 46px;
            color: $green;
            @media screen and (max-width: $tablet) {
                margin-bottom: 30px;
            }
        }
    }
    // .brush-bg-section__video-imgs-items
    &__video-imgs-items{
        margin-bottom: 10%;
        @media screen and (max-width: $tablet) {
            margin-bottom: 56px;
        }

    }
    // .brush-bg-section__items-wr
    &__items-wr{
        h2{
            color: $white;
        }
    }
    // .brush-bg-section__form
    &__form{
        max-width: 523px;
        width: 100%;
        margin: 0 auto;
        h4{
            margin-bottom: 20px;
            text-align: center;
        }
    }
    // .brush-bg-section--second-sec
    &--second-sec {
        padding-top: calc(7% + 62px);
        @media screen and (max-width: $tablet) {
            padding-top: 80px;
        }
        @media screen and (max-width: $tabletSmall) {
            padding-top: 56px;
        }


    }

    // .brush-bg-section--prev-sec
    &--prev-sec {
        padding-bottom: calc(7% + 68px);
        @media screen and (max-width: $tablet) {
            padding-bottom: 80px;
        }
        @media screen and (max-width: $tabletSmall) {
            padding-bottom: 56px;
        }
    }
    // .brush-bg-section--pink-bg
    &--pink-bg{
        background-color: #744287;
        position: relative;
        z-index: 5;
        padding: 7% 0;
        @media screen and (max-width: $tablet) {
            padding: 56px 0;
        }
        &:after{
            transform: rotate(180deg);
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 700px;
            background-image: url(assets/img/blot-bg/pink-bg.png);
            background-size: cover;
            background-position: bottom;
            background-repeat: no-repeat;
            z-index: -1;
            @media screen and (max-width: $tablet) {
                display: none;
            }
        }
    }
    // .brush-bg-section__description
    &__description{
        margin-top: 8%;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (max-width: $tablet) {
            margin-top: 132px;
        }
        h2{
            @include adaptiveProperty('font-size', 75, 44);
            @include adaptiveProperty('line-height', 86, 47);
        }
        .btn{
            @media screen and (max-width: $mobile) {
                width: 100%;
            }
        }
    }
    // .brush-bg-section__message
    &__message{
        position: relative;
        min-height: 248px;
        max-width: 570px;
        width: 100%;
        z-index: 5;
        padding: 60px 40px 0 40px;
        box-sizing: border-box;
        margin-bottom: 13px;
        @media screen and (max-width: 425px) {
            min-height: 165px;
            padding: 40px 35px 0 35px;
        }
        img{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
            z-index: -1;
        }
    }
    // .brush-bg-section--white-head
    &--white-head{
        h2{
            color: $white;
        }
    }
}
