.footer{

    background-color: #1F1F1F;
    hr{
        border: none;
        height: 1px;
        width: 100%;
        background-color: #3A3A3A;
        margin: 0;
        display: block;
    }
    // .footer__wrapper
    &__wrapper{
        padding: 80px 0 35px 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px 15px ;
        @media screen and (max-width: $tablet){
            grid-template-columns: repeat(3, 1fr);
        }
        @media screen and (max-width: $tabletSmall){
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width: $mobile){
            padding: 100px 0 58px 0;
            grid-template-columns: 100%;
            gap: 24px;
        }
        ul{

        }
        li{
            margin-bottom: 21px;
            @media screen and (max-width: $mobile){
                display: flex;
                justify-content: center;
            }
            &:last-of-type{
                margin-bottom: 0;
            }
            a{
                font-size: 1.6rem;
                color: $white;
                line-height: 1.3;

            }
        }
    }
    // .footer__contact
    &__contact{
        @media screen and (max-width: $mobile){
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 20px;
        }
        h3{
            font-size: 1.6rem;
            line-height: 1.3;
            text-transform: uppercase;
            font-family: $primary-font;
            letter-spacing: 1px;
            margin-bottom: 20px;
        }
        a{
            font-size: 1.6rem;
            line-height: 1.3;
            letter-spacing: 1px;
            color: $white;
        }
        ul{
            margin-top: 20px;
            display: flex;
            align-items: center;
        }
        li{
            margin: 0 25px 0 0;
            &:last-of-type{
                margin-right: 0;
            }
            a{
                display: block;
                transition: all .3s ease;
                &:hover{
                    transform: scale(1.1);
                    transition: all .3s ease;
                }
            }
        }
    }
    // .footer__copyright-wr
    &__copyright-wr{
        padding: 40px 0;
        display: grid;
        grid-template-columns: 220px 1fr 220px;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        @media screen and (max-width: $tabletSmall){
           grid-template-columns: 100%;
            justify-content: center;
            gap: 20px;
        }
        a{
            color: $white;
            font-size: 1.6rem;
            line-height: 1.3;
            @media screen and (max-width: $tabletSmall){
                text-align: center;
            }
            @media screen and (max-width: $mobile){
                font-size: 1.4rem;
            }
        }
        p{

            color: $white;
            font-size: 1.6rem;
            line-height: 1.3;
            text-align: center;
            @media screen and (max-width: $mobile){
                font-size: 1.4rem;
            }
        }
        a{
            display: flex;
            align-items: center;
            @media screen and (max-width: $tabletSmall){
               justify-content: center;
            }
            img{
                margin-left: 13px;
                width: 60px;
                height: 28px;
                object-fit: contain;
            }
        }
    }
}
