.form-section{
    padding: 7% 0;
    background-color: $blue;
    z-index: 5;
    margin-top: -.2rem;
    position: relative;
    @media screen and (max-width: $tablet) {
        padding: 91px 0;
    }
    h2{
        text-align: center;
        margin-bottom: 6rem;
        @media screen and (max-width: $tabletSmall) {
            margin-bottom: 3.2rem;
        }
    }
    h3{
        text-align: center;
        margin-bottom: 7rem;
        @media screen and (max-width: $tabletSmall) {
            margin-bottom: 5.6rem;
        }
    }
    // .form-section__head-bg
    &__head-bg{
        margin-bottom: 8%;
        @media screen and (max-width: $tabletSmall) {
            margin-bottom: 45px;

        }
    }
    // .form-section__head-bg-small
    &__head-bg-small{
        margin-bottom: 50px;
        @media screen and (max-width: $mobile) {
            margin-bottom: 30px;
        }
    }

    // .form-section__wrapper
    &__wrapper{
        p{
            max-width: 686px;
            width: 100%;
            margin: 0 auto 54px auto;
            text-align: center;
        }
    }
    // .form-section__description
    &__description{
        max-width: 450px;
        width: 100%;
        margin: 7% auto 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        h3{
            text-align: center;
            font-size: 3.8rem;
            line-height: 4.1rem;
            margin-bottom: 70px;
            @media screen and (max-width: $tablet) {
                margin-bottom: 56px;
            }
        }
    }
    // .form-section__links
    &__links{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 55rem;
        width: 100%;
        margin: 8rem auto 0 auto;
        a,p{
            font-size: 1.6rem;
            line-height: 1.3;
            color: $white;
            text-align: center;
        }
        a{
            text-decoration: underline;
        }
        p{
            margin: 4.4rem 0 1.6rem 0;
        }
        .btn{
            text-decoration: none;
            font-size: 1.8rem;
        }
    }
    // .form-section__link-items
    &__link-items{
        margin-bottom: 8%;
    }
}
