.header {
  background-color: $black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
  @media screen and (max-width: $tablet) {
    padding: 15px 0 5px 0;
  }
  // .header__wrapper
  &__wrapper {
    display: flex;
    align-items: center;
    @media screen and (max-width: $tablet) {
      display: grid;
      grid-template-columns: 30px 1fr 30px;
      align-items: center;
    }
  }

  // .header__logo
  &__logo {
    display: block;
    max-width: 130px;
    width: 100%;
    margin-right: 30px;
    @media screen and (max-width: $tabletLarge) {
      max-width: 100px;
      margin-right: 20px;
    }
    @media screen and (max-width: $tablet) {
      margin: 0 auto;
    }
    @media screen and (max-width: $tabletSmall) {
      max-width: 89px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      max-height: 115px;
    }
  }

  // .header__inner
  &__inner {
    display: flex;
    width: 100%;
    transition: all .5s ease;
    @media screen and (max-width: $tabletLarge) {
      top: $headerHeightTabletLarge;
    }
    @media screen and (max-width: $tablet) {
      position: fixed;
      top: $headerHeightTablet;
      background-color: #2E2E2E;
      left: 0;
      width: 70vw;
      flex-direction: column;
      transform: translateX(-101%);
      padding: 50px 30px;
      height: calc(100vh - #{$headerHeightTablet});
      box-sizing: border-box;
      overflow-y: auto;
    }
    @media screen and (max-width: $tabletSmall) {
      top: $headerMobHeight;
      padding: 50px 20px;
    }
    @media screen and (max-width: $mobile) {
      height: calc(100vh - #{$headerMobHeight});
      width: 100vw;
    }

    .btn {
      margin-left: 24px;
      @media screen and (max-width: $tabletLarge) {
        padding: 14px 20px;
        margin-left: 15px;
      }
      @media screen and (max-width: $tablet) {
        max-width: 356px;
        margin: 29px 0 0 0;
        width: 100%;
      }
      @media screen and (max-width: $mobile) {
        max-width: none;
      }
    }
  }

  // .header__pages-links
  &__pages-links {
    margin-left: 35px;
    margin-right: 2.4rem;
    @media screen and (max-width: $tabletLarge) {
      max-width: 220px;
      margin-left: 15px;
    }
    @media screen and (max-width: $tablet) {
      max-width: 356px;
      margin: 54px 0 0 0;
    }
    @media screen and (max-width: $mobile) {
      max-width: none;
    }
  }

  // .header__btn
  &__btn {
    display: none;
    width: 30px;
    height: 25px;
    position: relative;
    z-index: 15;
    @media screen and (max-width: $tablet) {
      display: block;
    }

    &:after {
      display: block;
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $white;
      transition: all .5s ease;
      border-radius: 1px;
    }

    &:before {
      display: block;
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $white;
      transition: all .5s ease;
      border-radius: 1px;
    }

    span {
      position: absolute;
      height: 2px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      background-color: $white;
      transition: all .5s ease;
      border-radius: 1px;
    }
  }

  // .header__fader
  &__fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(#000, .5);
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease;
  }

  // .header--open-menu
  &--open-menu {
    .header__inner {
      transform: translateX(0);
      transition: all .5s ease;
    }

    .header__fader {
      opacity: 1;
      visibility: visible;
      transition: all .5s ease;
    }

    .header__btn {
      &:after {
        top: 12px;
        transform: rotate(45deg);
        transition: all .5s ease;
      }

      &:before {
        top: 12px;
        transform: rotate(-45deg);
        transition: all .5s ease;
      }

      span {
        background-color: transparent;
        transition: all .5s ease;
      }
    }
  }

  // .header__basket
  &__basket {
    margin-left: 2.4rem;
    display: flex;
    align-items: center;
    @media screen and (max-width: $tablet) {
      margin-left: 1.5rem;
    }
  }

  // .header__basket-icon
  &__basket-icon {
    width: 2.4rem;
    height: 2.4rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  // .header__basket-number
  &__basket-number {
    width: 2.1rem;
    height: 2.1rem;
    background-color: #462852;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 700;
    color: $white;
    line-height: 1.2;
    margin-left: .2rem;
  }

  // .header__btns
  &__btns {
    align-items: center;
    display: flex;
    margin-left: 4%;
    @media screen and (max-width: $tablet) {
      margin-left: 0;
    }
  }

  // .header--violet
  &--violet {
    background-color: #5C3969;
  }

  // .header--school-event
  &--school-event {
    .header__wrapper {
      grid-template-columns: 50px 1fr 50px;
    }

    .header__burger {
      @media screen and (max-width: $tablet) {
        order: 1;

        height: 3.4rem;
      }
    }

    .header__btns {
      @media screen and (max-width: $tablet) {
        flex-direction: column;
        max-width: 35.4rem;
      }
    }

    .header__inner {
      @media screen and (max-width: $tablet) {
        background-color: #3D2446;
      }
    }

    .header__logo {
      @media screen and (max-width: $tablet) {
        order: 2;
      }
    }

    .header__basket {
      @media screen and (max-width: $tablet) {
        margin: 0;
        order: 3;
      }
    }

    .menu-sub-list {
      background-color: #3D2446;
      @media screen and (max-width: $tablet) {
        background-color: transparent;
      }

      &:after {
        background-color: #3D2446;
        @media screen and (max-width: $tablet) {
          background-color: transparent;
        }
      }
    }

    .header__burger {
      width: 3.2rem;
      height: 1.6rem;
      position: relative;
      display: none;
      @media screen and (max-width: $tablet) {
        display: block;
      }
      @media screen and (max-width: $tabletSmall) {
        height: 1.2rem;
      }

      &:after,
      &:before {
        height: .2rem;
        width: 100%;
        background-color: $white;
        border-radius: 1px;
        position: absolute;
        left: 0;
      }

      &:after,
      &:before {
        content: '';
          transition: all .3s ease;
      }

      &:after {
        bottom: 0;
      }

      &:before {
        top: 0;
      }
    }

    &.header--open-menu {
      .header__burger {
        &:after {
          transform: rotate(45deg);
          top: 0;
          transition: all .3s ease;
        }

        &:before {
          transform: rotate(-45deg);
          top: 0;
          transition: all .3s ease;
        }
      }
    }
  }
}
