.logo-section{
    background-color: $yellow;
    padding: 7% 0;
    @media screen and (max-width: $tablet) {
        padding: 5.6rem 0;
    }
    h2{
        text-align: center;
        margin-bottom: 5.2rem;
        color: #D11378;
    }
    // .logo-section__inner
    &__inner{
        display: grid;
        gap: 3.2rem;
        grid-template-columns: repeat(4, 1fr);
        @media screen and (max-width: $tabletSmall) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width: $mobile) {
            gap: 5.2rem;
            grid-template-columns: 100%;
        }
    }
    // .logo-section__item
    &__item{

    }
}
