.number-items{
    padding-bottom: 7%;
    background-color: $pinkDark;
    @media screen and (max-width: $tablet) {
        padding-bottom: 56px;
    }
    // .number-items__inner
    &__inner{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        justify-content: space-around;
        margin-bottom: 90px;
        @media screen and (max-width: $tablet) {
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 56px;
            gap: 56px;
        }
        @media screen and (max-width: $mobile) {
            grid-template-columns: 100%;
        }
    }
}
