.one-row-items{
    padding: 7% 0;
    background-color: #8DB833;
    @media screen and (max-width: $tablet) {
        padding: 5.6rem 0;
    }
    // .one-row-items__inner
    &__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: $tablet) {
            flex-wrap: wrap;
        }
    }
    // .one-row-items__item
    &__item{
        max-width: 35rem;
        margin: 0 1.6rem;
        width: 100%;
        &:last-of-type{
            margin-bottom: 0;
        }
        @media screen and (max-width: $tablet) {
            flex-basis: 47%;
            max-width: none;
            margin: 0 0 10rem 0;
        }
        @media screen and (max-width: $tabletSmall) {
            flex-basis: 100%;
        }
    }
    // .one-row-items__description
    &__description{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 52.4rem;
        width: 100%;
        margin: 7% auto 0 auto;
        @media screen and (max-width: $tabletSmall) {
            margin-top: 14rem   ;
        }
        h2{
            margin-bottom: 2.2rem;
        }
        p{
            font-size: 2rem;
        }
        .btn{
            margin-bottom: 2.2rem;
        }

    }
    // .one-row-items__description-img
    &__description-img{
        width: 16.4rem;
        height: 16.4rem;
        margin: 0 auto;
        border-radius: 50%;
        img{
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
