.one-row-slider{
  padding: 7% 0;
  background-color: #F2E62F;
  margin-top: -.1rem;
  @media screen and (max-width: $tablet){
    padding: 5.6rem 0;
  }
  h2{
    text-align: center;
    color: $pink;
    margin-bottom: 6rem;
    @media screen and (max-width: $tabletSmall){
      margin-bottom: 5.2rem;
    }
  }
  // .one-row-slider__inner
  &__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
    p{
      text-align: center;
      margin-bottom: 4.4rem;
    }
  }
  // .one-row-slider--yellow-brush
  &--yellow-brush{
    position: relative;
    &:after,
    &:before {
      content: '';
      position: absolute;
      left: 0;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      @media screen and (max-width: $tablet) {
        display: none;
      }
    }
    &:before{
      top: 0;
      height: 7rem;
      background-image: url(assets/img/brush/yellow-up.png);
      transform: translateY(-98%);
    }
    &:after{
      bottom: 0;
      height: 5.5rem;
      background-image: url(assets/img/brush/yellow-down.png);
      transform: translateY(98%);
    }
  }
  // .one-row-slider__slider
  &__slider{
    position: relative;
    @media screen and (max-width: 1660px){
      display: flex;
      align-items: center;
    }
  }
  // .one-row-slider__slider-container
  &__slider-container{
    width: 90%;
    @media screen and (max-width: $tabletSmall){
      width: 100vw;
      position: relative;
      overflow: visible;
    }
  }
  // .one-row-slider__slider-arrow
  &__slider-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @media screen and (max-width: 1660px){
      position: static;
    }
    @media screen and (max-width: $tabletSmall){
      display: none;
    }
  }
  // .one-row-slider__slider-arrow-next
  &__slider-arrow-next{
    right: -7.4rem;
  }
  // .one-row-slider__slider-arrow-prev
  &__slider-arrow-prev{
    left: -7.4rem;
  }
  // .one-row-slider--violet
  &--violet{
    background-color: #79498B;
    h2{
      color: $green;
    }
    .one-row-slider__item{
      h3{
        color: $yellow;
      }
    }
  }
}