.search-section{
  padding: 7% 0;
  background-color: $blue;
  @media screen and (max-width: $tablet){
    padding: 5.6rem 0;
  }
  h3{
    text-align: center;
    margin-bottom: 1.6rem;
  }
  form{
    margin: 0 auto;
  }
  // .search-section__logo-wr
  &__logo-wr{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: $tablet){
      display: none;
    }
    h3{
      text-align: center;
      font-family: $primary-font;
    }
    .btn{
      margin-top: 5rem;
    }
  }
  // .search-section__logo
  &__logo{
    max-width: 47.4rem;
    width: 100%;
    margin: 5rem auto 0 auto;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  // .search-section__single-input-form
  &__single-input-form{
    max-width: 53.2rem;
    width: 100%;
  }
  // .search-section__title
  &__title{
    max-width: 82rem;
    width: 100%;
    margin: 0 auto 5.6rem auto;
    h2{
      margin-bottom: 2rem;
    }
    h2,p{
      text-align: center;
    }
  }
}