.slider-section {
    background-color: $blue;
    padding: 5% 0 13% 0;
    @media screen and (max-width: $tablet) {
        padding: 25px 0 56px 0;
    }
    // .slider-section__head
    &__head {
        max-width: 811px;
        width: 100%;
        margin: 0 auto 26px auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            text-align: center;
            margin-bottom: 10px;
        }

        h3 {
            text-align: center;
            color: $yellow;
        }

        p {
            text-align: center;
            margin-bottom: 8px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .event-slider {
        margin-bottom: 9%;
        @media screen and (max-width: $tablet) {
            margin-bottom: 79px;
        }
    }

    // .slider-section__body
    &__body{
        h2{
            margin-bottom: 20px;
            text-align: center;
        }
    }
}
