.table-section{
    padding: 7% 0;
    background-color: #5C3969;
    @media screen and (max-width: $tablet) {
        padding: 56px 0;
    }
    // .table-section__head
    &__head{
        display: grid;
        grid-template-columns: 269px 1fr 269px;
        gap: 20px;
        align-self: center;
        @media screen and (max-width: $tabletLarge) {
            display: flex;
            flex-direction: column-reverse;
            margin-bottom: 50px;
        }
        h2{
            text-align: center;
            align-self: flex-start;
            color: $yellow;
            @media screen and (max-width: $tabletLarge) {
                width: 100%;
            }
        }
    }
    // .table-section__head-img
    &__head-img{
        max-width: 269px;
        width: 100%;
        height: 100%;
        max-height: 135px;
        @media screen and (max-width: $tabletSmall) {
            max-width: 180px;
            max-height: 95px;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    // .table-section__img
    &__img{
        margin:90px 0 0 auto;
        max-width: 269px;
        width: 100%;
        height: 100%;
        max-height: 135px;
        @media screen and (max-width: $tabletSmall) {
            max-width: 180px;
            max-height: 95px;

        }
        @media screen and (max-width: $mobile) {
            transform: scaleX(-1);
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
