.text-img-section{
    padding: 7% 0;
    background-color: $blue;
    position: relative;
    z-index: 5;
    @media screen and (max-width: $tablet) {
        padding: 56px 0;
    }
    ul{
        margin-bottom: 62px;
        @media screen and (max-width: $tablet) {
            margin-bottom: 56px;
        }
        li{
            font-weight: 400;
            margin-bottom: 14px;
        }
    }
    // .text-img-section__img
    &__img{
        width: 100%;
        &:after{
            position: absolute;
            top: 0;
            right: 0;
            content: '';
            background-color: #79498B;
            width: 50vw;
            height: 100%;
            z-index: -1;
            @media screen and (max-width: $tablet) {
                display: none;
            }
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .paw-mark-list{
        ul {
            margin-bottom: 14px;
        }
    }
    // .text-img-section__text
    &__text{
        position: relative;
        z-index: 10;
        h2{
            margin-bottom: 25px;
             @media screen and (max-width: $tablet) {
                 text-align: center;
             }
        }
        h3{
            margin-bottom: 34px;
             @media screen and (max-width: $tablet) {
                 text-align: center;
                 margin-bottom: 19px;
             }
        }
        p{
            margin-bottom: 14px;
            a {
                color: $white;
                @media screen and (max-width: $mobile) {
                    border-bottom: 1px solid $white;
                }
            }
            &:last-of-type{
                margin-bottom: 0;
                margin-top: 32px;
            }
        }
        .btn{
            margin-top: 32px;
            @media screen and (max-width: $tablet) {
                margin: 32px auto 0 auto;
            }
            @media screen and (max-width: $mobile) {
                width: 100%;
                margin-top: 56px;
            }
        }
    }
    // .text-img-section__head-bg-violet
    &__head-bg-violet {
        margin-bottom: 40px;
        h2{
            margin-bottom: 0;
        }
    }
    // .text-img-section__wrapper
    &__wrapper{
        display: grid;
        grid-template-columns: 45% 49%;
        justify-content: space-between;
        @media screen and (max-width: $tablet) {
            grid-template-columns: 100%;
            gap: 56px;
        }
    }
    // .text-img-section--violet-bg
    &--violet-bg{
        background-color: #79498B;
        @media screen and (max-width: $tablet) {
            padding-top: 80px;
        }
        @media screen and (max-width: $mobile) {
            padding-top: 56px;
        }
        h2{
            color: $green;
            @media screen and (max-width: $tablet) {
                text-align: left;
            }
        }
    }
}
