.three-col-imgs{
    background-color: $blue;
    padding: 7% 0;
    @media screen and (max-width: $tablet) {
        padding: 56px 0;
    }
    // .three-col-imgs__inner
    &__inner{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 7%;
        @media screen and (max-width: $tabletSmall) {
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 56px;
        }
        @media screen and (max-width: $mobile) {
            grid-template-columns: 100%;
        }
    }
    // .three-col-imgs__img
    &__img{
        width: 100%;
        &:nth-child(2){
            @media screen and (max-width: $mobile) {
                display: none;
            }
        }
        &:nth-child(3){
            @media screen and (max-width: $tabletSmall) {
                display: none;
            }
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    // .three-col-imgs__head
    &__head{
        max-width: 833px;
        width: 100%;
        margin: 0 auto 33px auto;
        @media screen and (max-width: $tabletSmall) {
            margin-bottom: 56px;
        }
        h2{
            text-align: center;
            margin-bottom: 17px;
        }
        p{
            text-align: center;
            margin-bottom: 15px;
            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }
    // .three-col-imgs__form-wr
    &__form-wr{
        max-width: 822px;
        width: 100%;
        margin: 0 auto;
        h3{
            text-align: center;
            font-size: 3.8rem;
            margin-bottom: 13px;
            line-height: 4.1rem;
        }
        p{
            text-align: center;
            margin-bottom: 15px;
            &:last-of-type{
                margin-bottom: 70px;
            }

            @media screen and (max-width: $tabletSmall) {
                margin-bottom: 56px;
            }
        }
    }
    // .three-col-imgs--violet
    &--violet{
        background-color: #79498B;
    }
    // .three-col-imgs--head-yellow
    &--head-yellow{
        h2{
            color: $yellow;
        }
    }
}
