.two-col-section{
  padding: 7% 0;
  background-color: $violet;
  h2{
    text-align: center;
    margin-bottom: 4.4rem;
  }
  @media screen and (max-width: $tablet){
    padding: 5.6rem 0;
  }
  @media screen and (max-width: $mobile){
    background-color: $pink;
  }
}