.video-section{
  background-color: $blue;
  padding: 5.2rem 0;
  @media screen and (max-width: $tablet){
    display: none;
  }
  h2{
    text-align: center;
    margin-bottom: 4.4rem;
  }
}