.video-imgs-items{
    display: grid;
    grid-template-columns: 22.3% 51% 22.3%;
    gap: 30px;
    @media screen and (max-width: $tabletLarge) {
        gap: 15px;
    }
    @media screen and (max-width: $tabletSmall) {
        grid-template-columns: 100%;
    }

    img {
        object-fit: cover;
    }

    // .video-imgs-items__item

    &__item {
        filter: drop-shadow(0px 5px 25px rgba(0, 0, 0, 0.12));
        // .video-imgs-items__item--big
        &--big {
            grid-row: span 2;
            cursor: pointer;
            overflow: hidden;
            border-radius: 0 50px 0 50px;
            box-shadow: 0px 30px 40px 0px rgba(0, 0, 0, 0.2);
            @media screen and (max-width: $tabletSmall) {
                max-width: none;
                grid-row: span 1;
                order: 1;
            }
        }

        // .video-imgs-items__item--middle
        &--middle {
            @media screen and (max-width: $tabletSmall) {
                width: 81%;
                order: 3;
                margin-left: auto;
            }

            &:last-of-type {
                @media screen and (max-width: $tabletSmall) {
                    order: 4;
                    margin: 0 auto 0 0;
                }
            }
        }

        // .video-imgs-items__item--small
        &--small {
            width: 80%;
            @media screen and (max-width: $tabletSmall) {
                width: 62%;
            }

            &:first-of-type {
                @media screen and (max-width: $tabletSmall) {
                    order: 2;
                }
            }

            &:last-of-type {
                margin-left: auto;
                @media screen and (max-width: $tabletSmall) {
                    order: 5;
                }
            }
        }
    }
}
