.event-slider-item{
    background-color: $blueLight;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding:80px 20px 60px 20px;
    min-height: 314px;
    height: auto !important;
    box-sizing: border-box;
    border-radius: 40px;
    z-index: 5;
    text-align: center;
    @media screen and (max-width: $mobile) {
        min-height: 314px;
        max-width: 338px;
        width: 100% !important;
    }
    h3{
        color: $yellow;
        margin: 2rem 0 1.2rem 0;

    }
    // .event-slider-item__date
    &__date{
        font-weight: 700;
        color: $white;
        margin-bottom: 5.6rem;
        flex-grow: 1;
    }
    &:after{
        z-index: -1;
        content: '';
        position: absolute;
        top: 8px;
        left: 35px;
        width: 82%;
        height: 89%;
        background-image: url(assets/img/icon/map.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    &.swiper-slide-visible{
        box-shadow: 0px 16px 30px 0px rgba(0,0,0,0.12);
    }

}
