.menu {
    display: flex;
    align-items: center;
    width: 100%;
    // .menu__list
    &__list {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        @media screen and (max-width: $desktop) {
            justify-content: space-between;
        }
        @media screen and (max-width: $tablet) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    // .menu__list-item
    &__list-item {
        position: relative;
        margin: 0 .5rem ;
        @media screen and (max-width: $tablet){
            margin:0 0 30px 0;
            &:last-of-type{
                margin-bottom: 0;
            }
        }
        &:hover .menu-sub-list{
            opacity: 1;
            visibility: visible;
            transition: all .5s ease;
        }
    }
    // .menu__list-item-dropdown
    &__list-item-dropdown{
        display: flex;
        align-items: center;
        img{
            display: none;
            margin-left: 15px;
            @media screen and (max-width: $tablet){
                display: block;
                width: 15px;
                height: 15px;
                object-fit: contain;
            }
            @media screen and (max-width: $tabletSmall){
                width: 10px;
                height: 5px;
            }
        }
    }
    // .menu__list-item-link
    &__list-item-link {
        font-size: 1.6rem;
        color: $white;
        line-height: 1.3;
        &.active{
            z-index: 5;
            position: relative;
            &:after{
                content: '';
                background-image: url(assets/img/icon/menu-mark.svg);
                width: 35px;
                height: 32px;
                background-repeat: no-repeat;
                background-size:contain;
                position: absolute;
                left:-24px;
                top: 50%;
                transform: translateY(-50%);
                z-index: -1;
                @media screen and (max-width: $tablet){
                    display: none;
                }
            }
        }
        @media screen and (max-width: $tablet){
            font-size: 3rem;
        }
        @media screen and (max-width: $tabletSmall){
            font-size: 1.8rem;
        }
    }

}
