.menu-sub-list{
    position: absolute;
    max-width: 250px;
    width: 400%;
    box-sizing: border-box;
    transform: translateY(100%);
    bottom: -20px;
    padding: 35px 15px;
    background-color: #2E2E2E;
    border-radius: 6px;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease;
    @media screen and (max-width: $tablet){
        display: none;
        position: static;
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        padding: 0 20px;
        margin-top: 15px;
        transition: none;
    }
    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 13px;
        width: 13px;
        height: 13px;
        background-color: #2E2E2E;
        border-radius: 3px;
        transform: translateY(-45%) rotate(45deg);
        @media screen and (max-width: $tablet){
            display: none;
        }
    }
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(-5%);
        z-index: -1;
        @media screen and (max-width: $tablet){
            display: none;
        }
    }
    // .menu-sub-list__item
    &__item{
        margin-bottom: 15px;
        &:last-of-type{
            margin-bottom: 0;
        }
    }
    // .menu-sub-list__item-link
    &__item-link {
        font-size: 1.6rem;
        color: $white;
        line-height: 1.3;
        transition: all .3s ease;
        @media screen and (max-width: $tablet){
            font-size: 2rem;
        }
        @media screen and (max-width: $tabletSmall){
            font-size: 1.6rem;
        }
        &:hover{
            color: $pink;
            transition: all .3s ease;
        }
    }
}
