.main-form{
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 18px;
    position: relative;
    z-index: 10;
    @media screen and (max-width: $tabletSmall) {
        grid-template-columns: 100%;
    }
    // .main-form__field
    &__field{
        grid-column: span 2;
        @media screen and (max-width: $tabletSmall) {
            grid-column: span 1;
        }
    }
    // .main-form__field--half-width
    &__field--half-width{
        grid-column: span 1;

    }
    .btn{
        margin-top: 1.6rem;
        @media screen and (max-width: $mobile){
            width: 100%;
            margin-top: 2.3rem;
        }
    }
    // .main-form--btn-center
    &--btn-center{
        .btn{
            grid-column: span 2;
            margin: 1.6rem auto 0 auto;
            @media screen and (max-width: $tabletSmall) {
                grid-column: span 1;
            }
        }
    }
    // .main-form--violet
    &--violet{
        .main-form__field{
            label{
                input,
                textarea{
                    border: 1px solid #E4E4E4;
                    background-color: #79498B;
                }
            }
        }
    }
}
