.event-item{
  box-sizing: border-box;
    width: 100%;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $blueLight;
    align-items: center;
    -webkit-box-shadow: 0px 16px 30px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 16px 30px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 16px 30px 0px rgba(0, 0, 0, 0.12);
    padding: 4rem 2.4rem;
    h3{
        text-align: center;
        margin-bottom: 1.2rem;
        color: $yellow;
    }
    p{
        text-align: center;

    }
    .btn{
        text-transform: none;
        padding: 1.2rem 1.6rem;
        min-height: 4rem;
        margin-top: 2.8rem;
    }
    @media screen and (max-width: $mobile) {
        max-width: 26.6rem;
    }
}
