.event-items-wr{
    display: grid;
    gap: 1.8rem;
    grid-template-columns: repeat(5,1fr);
    @media screen and (max-width: $tabletLarge) {
        grid-template-columns: repeat(4, 1fr);
    }
    @media screen and (max-width: $tablet) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: $tabletSmall) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: $mobile) {
        grid-template-columns: 100%;
        justify-content: center;
    }
    // .event-items-wr--green
    &--green{
        .event-item{
            background-color: #7FAF1C;
            border: 1px solid #8ABF1B;
        }
    }
}
