.modal-window {

    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    padding: 20px 14px;

    box-sizing: border-box;

    overflow-y: auto;
    overflow-x: hidden;


    opacity: 0;
    visibility: hidden;

    transition: all 250ms ease-out;

    @media (min-width: $mobileP1) {
        padding: 50px 24px;
    }

    // .modal-window--active

    &--active {
        opacity: 1;
        visibility: visible;
        transition: all 250ms ease-out;
    }

    // .modal-window__fader

    &__fader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($black, 0.7);
    }

    // .modal-window__container

    &__container {
    }

    // .modal-window__item

    &__item {
        width: 100%;
        position: relative;
        z-index: 5;

        background-color: $white;
        margin: 0 auto;
        display: none;

        // .modal-window__item--active

        &--active {
            display: block;
        }
    }

    // .modal-window__close-icon

    &__close-icon {

    }

    // .modal-window__contact-form

    &__contact-form {
        max-width: 400px;
    }

    // .modal-window__video

    &__video {
        margin-top: 65px;
        @media (min-width: $tabletSmallP1) {
            max-width: 85%;
        }
    }

    form {
        width: 100%;
    }
}
