.text-img-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    align-items: center;
    margin-bottom: 50px;
    position: relative;
    z-index: 6;
    @media screen and (max-width: $tablet) {
        grid-template-columns: 100%;
        gap: 56px;
    }

    &:last-of-type {
        margin-bottom: 0;
    }


    // .text-img-item__text
    &__text {
        position: relative;
        z-index: 3;
        @media screen and (max-width: $tablet) {
            order: 1;
        }

        h2 {
            margin-bottom: 2rem;
            @media screen and (max-width: $mobile) {
                margin-bottom: .8rem;
            }
        }

        h3 {
            @include adaptiveProperty('font-size', 44, 28);
            @include adaptiveProperty('font-size', 47, 30);
            margin-bottom: 2rem;

            @media screen and (max-width: $mobile) {
                margin-bottom: 1.6rem;
            }
        }

        h5 {
            font-size: 1.8rem;
            line-height: 2.1rem;
            color: $white;
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 2rem;
        }

        p {
            color: $white;
            margin-bottom: 1.2rem;

            &:last-of-type {
                margin-bottom: 0;
            }

            b {
                font-weight: 700;
                margin-bottom: 1.2rem;
                display: block;
            }
        }


        .btn {
            margin-top: 57px;
            @media screen and (max-width: $mobile) {
                margin-top: 37px;
                width: 100%;
            }
        }
    }

    // .text-img-item__lead
    &__lead {
        @include adaptiveProperty('font-size', 20, 18);
        @include adaptiveProperty('line-height', 24, 21);
    }
    // .text-img-item__slider
    &__slider{
        position: relative;
        @media screen and (max-width: $desktop) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        @media screen and (max-width: $tabletSmall) {
            position: relative;
            left: -1.6rem;
        }
    }
    // .text-img-item__slider-container
    &__slider-container{
        @media screen and (max-width: $desktop) {
            width: 90%;
        }
        @media screen and (max-width: $tabletSmall) {
            width: 100%;
            overflow: visible;
        }
    }
    // .text-img-item__wrapper
    &__wrapper{
        align-items: center;
        overflow-y: visible;
        padding-top: 2rem;
    }
    // .text-img-item__slider-arrow
    &__slider-arrow{
        &.slider-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            @media screen and (max-width: $desktop) {
                position: static;
                transform: translateY(0%);
            }
            @media screen and (max-width: $tabletLarge) {
                display: none;
            }
        }
    }
    // .text-img-item__slider-arrow-left
    &__slider-arrow-prev{
        left: -6.2rem;
    }
    // .text-img-item__slider-arrow-next
    &__slider-arrow-next{
        right: -6.2rem;
    }
    // .text-img-item__img-wr
    &__img-wr {
        position: relative;
        width: 100%;
        height: 100%;
        order: 2;
        z-index: 5;
        display: flex;
        align-items: flex-start;
        justify-content: center;

        .text-img-item__img {
            max-width: 525px;
        }
    }
    // .text-img-item__progress-bar-wr
    &__progress-bar-wr{
        margin-top: 6rem;
        @media screen and (max-width: $tabletSmall) {
            margin-top: 3rem;
        }
    }
    // .text-img-item__img-bg
    &__img-bg {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        @media screen and (max-width: $tabletSmall) {
            display: none;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    // .text-img-item__inner
    &__inner{
        display: flex;
        align-items: center;
        margin-top: 3.4rem;
        @media screen and (max-width: $mobile) {
            flex-direction: column;
        }
        .btn{
            margin-top: 0;
            margin-right: 3.2rem;
            @media screen and (max-width: $mobile) {
                margin-right: 0;
            }
            &:last-child{
                margin-right: 0;
            }
            &:first-of-type{
                @media screen and (max-width: $mobile) {
                    margin-bottom: 3.2rem;

                }
            }
        }
    }
    // .text-img-item__img
    &__img {
        width: 100%;
        position: relative;
        z-index: 5;
        @media screen and (max-width: $tablet) {
            order: 2;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    // .text-img-item__text-bg
    &__text-bg {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }


    // .text-img-item--reverse
    &--reverse {
        .text-img-item__text {
            order: 1;
        }

        .text-img-item__img {
            order: 2;
        }

        &.text-img-item--not-full-width {
            margin-left: auto;

        }
    }

    // .text-img-item--list-small
    &--list-small {
        li {
            font-size: 1.6rem;
        }
    }

    .check-mark-list {
        .text-img-item__text {
            ul {
                li {
                    padding-left: 0;

                    &:after {
                        display: none;
                    }

                    p {
                        &:first-of-type {
                            margin: 0;
                        }
                    }
                }

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
    // .text-img-item__btns
    &__btns{
        max-width: 40rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 3.4rem;
        @media screen and (max-width: $mobile) {
            max-width: none;
            flex-direction: column;
        }
        .btn{
            color: $white;
            margin: 0;
            padding: 1.2rem 5rem;
            @media screen and (max-width: $mobile) {
                width: 100%;
            }
            &:first-of-type{
                @media screen and (max-width: $mobile) {
                    margin-bottom: 3.2rem;
                }
            }
        }
    }
    // .text-img-item--img-large
    &--img-large {
        grid-template-columns: 37% 60%;
        justify-content: space-between;
        align-items: flex-start;
        gap: 0;
        @media screen and (max-width: $tablet) {
            grid-template-columns: 100%;
            gap: 56px;
        }

        p + h2 {
            margin-top: 4.4rem;
        }
    }

    // .text-img-item--message-bg
    &--message-bg {
        grid-template-columns: 57% 33%;
        justify-content: space-between;
        @media screen and (max-width: $desktop) {
            grid-template-columns: 65% 33%;
        }
        @media screen and (max-width: $tablet) {
            grid-template-columns: 100%;
        }

        .text-img-item__img {
            @media screen and (max-width: $tablet) {
                width: 50%;
                margin: 0 auto;
            }
            @media screen and (max-width: $tabletSmall) {
                width: 100%;
            }
        }

        .text-img-item__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 17% 0 20%;
            height: 100%;
            box-sizing: border-box;
            @media screen and (max-width: $tablet) {
                padding: 0;
            }

        }

        .text-img-item__text-inner {
            width: 66%;

            h3 {
                @include adaptiveProperty('font-size', 44, 28);
            }

            @media screen and (max-width: $tabletLarge) {
                width: 70%;
            }
            @media screen and (max-width: $tablet) {
                width: 100%;
            }
        }

        .text-img-item__text-bg {
            @media screen and (max-width: $tablet) {
                display: none;
            }
        }
    }

    // .text-img-item--message-bg-small
    &--message-bg-small {
        grid-template-columns: 48% 46%;
        @media screen and (max-width: $tablet) {
            grid-template-columns: 100%;
        }

        .text-img-item__img {
            @media screen and (max-width: $tablet) {
                order: 2;
                width: 60%;
                margin: 0 auto;
            }
            @media screen and (max-width: $tabletSmall) {
                width: 100%;
            }
        }

        .text-img-item__text {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 18% 0 25%;
            box-sizing: border-box;
            @media screen and (max-width: $tablet) {
                order: 1;
                padding: 0;

            }

        }

        .text-img-item__text-bg {
            @media screen and (max-width: $tabletLarge) {
                width: 130%;
            }
            @media screen and (max-width: $tablet) {
                display: none;
            }
        }

        .text-img-item__text-inner {
            width: 72%;

            @media screen and (max-width: $tabletLarge) {
                width: 80%;
            }
            @media screen and (max-width: $tablet) {
                width: 100%;
            }
        }
    }

    // .text-img-item--not-full-width
    &--not-full-width {
        width: 91%;
        grid-template-columns: 53% 44%;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: $tablet) {
            grid-template-columns: 100%;
            width: 100%;
        }

    }

    // .text-img-item--align-top
    &--align-top {
        align-items: flex-start;
    }
    // .text-img-item--yellow-header
    &--yellow-header{
        h2{
            color: $yellow;
        }
    }
    // .text-img-item--brush-bg-violet
    &--brush-bg-violet{
        position: relative;
        &:after {
            content: '';
            max-width: 1550px;
            width: 100%;
            height: 332px;
            background-image: url(assets/img/content-img/brush-violet-bg.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            @media screen and (max-width: $tablet) {
                display: none;
            }
            @media screen and (max-width: $tabletSmall) {
                width: 1550px;
                left: -100px;
                transform: translateX(0) translateY(-50%);
            }
        }
    }
    // .text-img-item--head-bg-violet
    // .text-img-item--head-bg-green
    &--head-bg-violet,
    &--head-bg-green{
        z-index: 5;
        h2 {
            position: relative;
            &:after {
                content: '';
                width: 995px;
                height: 172px;

                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                z-index: -1;
                @media screen and (max-width: $tablet) {
                    display: none;
                }
                @media screen and (max-width: $mobile) {
                    display: block;
                    height: 12.5rem;
                }
            }
        }
        .text-img-item__text{
            position: relative;
            z-index: -1;
            h2{
                margin-bottom: 2.3rem;
            }
        }
    }
    &--head-bg-green {
        h2 {
            &:after {
                background-image: url(assets/img/text-img-item/btush-green.svg);
            }
        }
    }
    &--head-bg-violet{
        h2 {
            &:after {
                background-image: url(assets/img/text-img-item/brush-violet.svg);
            }
        }
        h3{
            margin-top: 4rem;
        }
    }
    // .text-img-item--progress-bar
    &--progress-bar{
        @media screen and (max-width: $mobile) {
            margin-bottom: 0;
        }
        .text-img-item__text{
            h2{
                @media screen and (max-width: $mobile) {
                    text-align: center;
                    font-size: 2.8rem;
                    margin-bottom: 2.2rem;
                }
            }
            p{
                @media screen and (max-width: $mobile) {
                    text-align: center;
                }
            }
        }
        .text-img-item__img{
            @media screen and (max-width: $mobile) {
                display: none;
            }
        }
    }
    // .text-img-item--head-green
    &--head-green{
        h2{
            color: $green;
        }
    }
    // .text-img-item--text-short
    &--text-short{
        justify-content: space-between;
        grid-template-columns: 42% 50%;
        @media screen and (max-width: $tablet) {
            grid-template-columns: 100%;
        }
        .text-img-item__img{
            @media screen and (max-width: $tablet) {
                width: 70%;
                margin: 0 auto;
            }
            @media screen and (max-width: $mobile) {
                width: 100%;
            }
        }
    }
    // .text-img-item--text-short-reverse
    &--text-short-reverse{
        justify-content: space-between;
        grid-template-columns: 50% 42%;
        @media screen and (max-width: $tablet) {
            grid-template-columns: 100%;
        }
        .text-img-item__slider{
            @media screen and (max-width: $tablet) {
                order: 2;
            }
        }
        .text-img-item__text{
            @media screen and (max-width: $tablet) {
                order: 1;
            }
        }
        .text-img-item__img{
            @media screen and (max-width: $tablet) {
                width: 70%;
                margin: 0 auto;
                order: 2;
            }
            @media screen and (max-width: $mobile) {
                width: 100%;
            }
        }
    }
    // .text-img-item--bubble-top
    &--bubble-top{

        .text-img-item__slider{
            position: relative;
            margin-top: 15%;
            @media screen and (max-width: $tabletSmall) {
                margin-top: 0;
            }
            &:after{
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%) translateY(-100%);
                height: 15rem;
                width: 46.4rem;
                background-image: url(assets/img/bubble-img/bubbles-top.png);
                @media screen and (max-width: $tabletSmall) {
                    display: none;
                }
            }
        }
    }
}
